[2020-03-20 09:35] ostrolucky commented on #1152
Thanks for report. Fixed in https://github.com/doctrine/DoctrineBundle/pull/1150

[2020-03-20 09:35] #1152 closed

[2020-03-26 13:49] ostrolucky commented on #785
So we are doing this after all, check https://github.com/doctrine/sql-formatter. Reopening this to keep track of, so we can integrate it in here.

Thanks to @greg0ire and @goetas

[2020-03-26 13:53] dmaicher commented on #785
Maybe we can wait until https://github.com/doctrine/dbal-bundle will be done :smile: backporting so many changes will be a pain otherwise

[2020-03-26 14:11] ostrolucky commented on #785
dbal-bundle should have been a fork of doctrine-bundle, then backporting would be just git merges. Anyways I see zero work in dbal-bundle since initial commit, so what's the timeline? We can't wait indifinitely.

[2020-03-26 21:51] greg0ire commented on #785
@dmaicher I think the PR to switch to the new lib will be quite small. Besides, I see no mention of `SqlFormatter` in dbal bundle, but maybe you plan to add it later?

If I can be of some help, tell me

[2020-04-09 14:00] kojidev commented on #1112
@ostrolucky They've deleted the doc in 2.0.x tag:

https://github.com/doctrine/DoctrineBundle/blob/1.12.x/UPGRADE-2.0.md

https://github.com/doctrine/DoctrineBundle/blob/2.0.x/UPGRADE-2.0.md

[2020-04-09 14:06] ostrolucky commented on #1112
They didn't delete it, just didn't merge it there yet, as there wasn't release since then.

[2020-04-09 14:11] kojidev commented on #1112
Oh, that's right, sorry

[2020-04-21 18:24] nschmoyer opened #1156 "Update homepage article queries to fix SQL ONLY_FULL_GROUP_BY issue"

[2020-04-21 18:26] ostrolucky commented on #1156
Can you please provide more information, most importantly, pages you refer to?

[2020-04-21 18:31] nschmoyer commented on #1156
I accidentally added this to the wrong repository, which hopefully explains why it doesn't make any sense...

[2020-04-21 18:31] #1156 closed

[2020-04-22 16:38] VincentLanglet commented on #821
This auto-configuration would be great ! Is this still on the road map ?

[2020-04-22 20:07] cristobal151 commented on #114
Hi, any news on this??

Thanks.

[2020-04-30 09:53] ph-freeminds opened #1162 "A strange exception thrown when I try to 'order by' a field from a join"
In a repository, I built a query and added two joins.

query dump :
`SELECT vd FROM App\UserService\Entity\KycValidationRequest vd INNER JOIN App\UserService\Entity\UserKycTierLevel utl WITH utl.id = vd.kycTierLevel INNER JOIN App\UserService\Entity\User u WITH u.id = utl.user`

This part works, but now I have to sort by a specific field of one of the joins.
updated query dump :
`SELECT vd FROM Ap

[2020-04-30 10:06] ph-freeminds commented on #1162
I added User entity in the select clause but I still have the same exception
`'SELECT vd, u FROM App\UserService\Entity\KycValidationRequest vd INNER JOIN App\UserService\Entity\UserKycTierLevel utl WITH utl.id = vd.kycTierLevel INNER JOIN App\UserService\Entity\User u WITH u.id = utl.user ORDER BY u.birthYear desc`

`Neither the property "birthYear" nor one of the methods "getBirthYear()", "birth

[2020-05-05 07:36] przemo-hemmersbach opened #1164 "Default configuration of bundle prevents Windows Authentication that's otherwise supported by Doctrine"
Versions:
PHP - not relevant
DoctrineBundle - master

Windows Authentication is authentication method which will use Windows credentials to log into MS SQL Server (e.g. user account when running PHP from CLI, or web server account when running PHP in it's process).

Doctrine supports this method as a fallback option. If both user and passwords are null, windows auth will be used. (Technically it's

[2020-05-05 09:54] alcaeus commented on #1164
It could be considered a bug, but fixing it would entail a BC break. My suggestion would be to deprecate relying on the default username/password combination and get people to explicitly set it in their config. Then, we can change this to `null` in the next major version.

[2020-05-05 10:42] ostrolucky commented on #1164
Ok let's deprecate it

[2020-05-11 12:05] aless673 opened #1166 "Doctrine listeners not referencing the right services"
Hi,

**Environement test**
Symfony 4.4.8
Doctrine 2.0.8

**Description**
Doctrine subscribers (or listeners) services are not the same if fetched from container or fetched by doctrine events. If i dump the spl_object_id of a doctrine subscriber fetched from the container and the spl_object_id of the same doctrine subscriber but fired by a doctrine event (like onFlush), this is not the same id.
It

[2020-05-12 06:16] Khartir commented on #814
@ostrolucky I'm not sure if I understood you correctly, but I think these settings are still required. The lifetime set on a symfony cache pool is not used. Instead the region lifetime is used, so having a way to set this for all regions (and/or the default region) would be appreciated.
Or do you plan to completely phase out the region lifetime and always use the lifetime of the underlying symfony

[2020-05-20 17:39] I70l0teN4ik commented on #814
I have created a duplicated issue in Symfony core repo, because I've didn't found this one. But generally speaking here is a [link](https://github.com/symfony/symfony/issues/36881) maybe my description of the issue will be helpful.

[2020-05-20 17:43] I70l0teN4ik commented on #814
And just to be clear with cache pools - I also didn't succeed when tried to set the default ttl for the pool.
Nomatter how I tried to set it up `$defaultLifetime = 3600` was always used.
Maybe some description of that confing is missing in the docs?

[2020-05-20 19:24] jdecool opened #1168 "RunSqlDoctrineCommand is not compatible with doctrine/dbal 2.11.x"
The `RunSqlDoctrineCommand` of `doctrine/dbal` was updated in 2.11.x branch.

A [`connection`](https://github.com/doctrine/dbal/blob/2.11.x/lib/Doctrine/DBAL/Tools/Console/Command/RunSqlCommand.php#L50) option has been had in the command. But the `RunSqlDoctrineCommand` of the bundle that extends the base class also add the [option](https://github.com/doctrine/DoctrineBundle/blob/master/Command/Pr

[2020-05-20 21:38] ostrolucky commented on #814
Indeed, looks like we will have to add support for this, otherwise limit to 3600 cannot be increased.

[2020-05-21 11:08] ostrolucky commented on #1168
Fixed in https://github.com/doctrine/DoctrineBundle/pull/1170. Thanks for reporting.

[2020-05-21 11:08] #1168 closed

[2020-05-21 12:51] ostrolucky commented on #785
doctrine/sql-formatter has a released version. The way I see it, this is ready to implement in doctrine-bundle.

[2020-05-21 13:42] greg0ire commented on #785
`doctrine/sql-formatter` requires php 7.2, so it will be ready when we drop php 7.1 from this bundle IMO

[2020-05-21 15:39] ostrolucky commented on #785
Well that will happen after we drop symfony 4. Till then library will probably bump php version further, so unless we change this, the way I see it, it's unlikely we will adopt this library here ever.

[2020-05-21 15:41] greg0ire commented on #785
Why not? The 1.0.0 tag is here to stay and will still be available if the bundle drops 7.1

[2020-05-21 16:00] xabbuh commented on #785
@greg0ire Symfony 4.4 (providing support until November 2022) supports PHP 7.1. Which means that we would have to maintain two versions of DoctrineBundle then.

[2020-05-21 16:33] greg0ire commented on #785
What a bummer! I wish Symfony dropped versions in the red zone. I don't like being too aggressive on version constraints but this is a bit too much for my taste. Anyway, I think since DoctrineBundle is one of the 2 big clients of sql-formatter, I need to support it there. I'm going to create a 0.x branch that will only accept security fixes and support 7.1, and tag 0.1.0 from it. That way we can u

[2020-05-21 16:41] greg0ire commented on #785
https://github.com/doctrine/sql-formatter/pull/54

[2020-05-22 00:47] ostrolucky commented on #1166
I wasn't able to reproduce this with
[code]

Please post failing test case, or reproducer according instructions I posted in linked issue.

[2020-05-22 11:55] greg0ire commented on #785
I'm working on closing this issue, should be possible with https://github.com/doctrine/sql-formatter/releases/tag/1.1.0

[2020-05-22 12:30] greg0ire commented on #785
I'm working on closing this.

[2020-05-22 17:43] #785 closed

[2020-05-23 22:13] aless673 commented on #1166
@ostrolucky Here the demo : https://github.com/symfony/symfony/issues/36783#issuecomment-633147257

[2020-05-26 07:01] gmponos commented on #785
Thank you for working on this issue :)

[2020-05-28 20:23] ostrolucky commented on #1166
Codeception symfony module reboots kernel by default in https://github.com/Codeception/module-symfony/blob/e60d4266644099ba2cccad9ae22cef3ceb6c0039/src/Codeception/Module/Symfony.php#L214 so you probably want to use `rebootable_client`. Nothing to do with Doctrine, please raise your concerns at https://github.com/Codeception/module-symfony if you still have any

[2020-05-28 20:23] #1166 closed

[2020-05-28 20:37] ostrolucky commented on #1166
Actually using that option does not help, however this is still an issue of Symfony module, as commenting out rebootKernel call from `\Codeception\Lib\Connector\Symfony::__construct` causes your expected behaviour

[2020-05-29 12:23] crassaert commented on #1057
You can replace this with
`naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware`

[2020-06-04 14:23] psren commented on #114
I hacked around for my project, and this seems to work.
I'm not experienced here, so take it at your own risk:

[code]

[2020-06-07 11:39] albe opened #1176 "Rename "BlacklistSchemaAssetFilter" to match "WellKnownSchemaFilterPass""
It just makes more sense. I suggest using "UnknownSchemaAssetFilter" instead - or probably even better "WellKnownSchemaAssetFilter", since it actually filters out well known assets. In case the filter itself should be more generic, "ExcludedSchemaAssetFilter" could work well, too.

TBD: Only change this in master or target lower. AFAIS it would only be breaking for 3rd parties that actually extend

[2020-06-07 16:39] greg0ire commented on #1176
The list is passed dynamically rather than being harcoded, so the implementation could be used for something else entirely, which would make me lean towards `ExcludedSchemaAssetFilter`… but it does not convey the meaning as well as the original term IMO. How about `ExcludeListSchemaAssetFilter`?

[2020-06-08 09:07] Agares opened #1178 "Dynamic connection parameters"
I need the ability to pass the hostname, database name and port dynamically (i.e. I don't know those until runtime). I'm happy to send a PR that would allow that, though I'd like to discuss the approach first.
There are two solutions that come to my mind:
1. Create a new option for DBAL that would allow passing a factory (a service from DI) and a method that would just return a DBAL connection.
2.

[2020-06-08 21:26] ostrolucky commented on #1178
There already is a connection factory in this bundle. What prevents you to use your own implementation?

[2020-06-08 21:43] ostrolucky commented on #1176
I am not sure if this feature is even used, I don't see this connected to anything. This comment kinda confirms it https://github.com/symfony/symfony/pull/36655#issuecomment-622959966. @weaverryan do you know about anything?

[2020-06-09 11:43] Agares commented on #1178
The issue with replacing the bundle's connection factory, is that I would be limited to the configuration options, I cannot for example do something like this:
[code]

If I could pass a custom connection factory, e.g. like this:
[code]

Then I could do whatever I want in the service behind `my.wonderful.dbal_connection_factory`, without being limited by the options that the bundle allows

[2020-06-09 16:37] ostrolucky commented on #1178
I don't understand how are you limited. Define your own `doctrine.dbal.connection_factory` service, you can do whatever you need there.

[2020-06-09 17:05] Agares commented on #1178
If I override the default factory then I can create only one connection and ignore the hostname and other connection parameters, or use hacks like magic hostnames that are not really hostnames to identify the database that my library will connect to, because I can't pass a parameter that's not defined here: https://github.com/doctrine/DoctrineBundle/blob/master/DependencyInjection/Configuration.ph

[2020-06-09 17:18] ostrolucky commented on #1178
You can pass whatever parameters you want via constructor injection. And if you need this for single connection, you can decorate just concrete dbal connection service, or write compiler pass that sets this factory for concrete connection only.

[2020-06-09 17:45] dmaicher opened #1179 "Console commands: compatiblity with upcoming doctrine/dbal 3.0"
Due to some deprecations and the new `ConnectionProvider` interface we need to fix a few things to be compatible with `doctrine/dbal` 3.0.

See https://github.com/doctrine/dbal/pull/3956, https://github.com/doctrine/dbal/pull/4059

Also related was this fix: https://github.com/doctrine/DoctrineBundle/pull/1170

Some thoughts:
- we will need an adapter from `Symfony\Bridge\Doctrine\ManagerRegistry`

[2020-06-09 17:58] greg0ire commented on #1176
e4ca3d2c7f5f9076b228d0762ee48ae2b1090340

[2020-06-09 18:00] ostrolucky commented on #1179
Yes, I concluded same. But like I mentioned in #1170 I don't want to change DoctrineBundle only to find dbal changed their API before release.

[2020-06-09 18:25] ostrolucky commented on #1176
Alright, it's needed then. But I actually like current name. As @greg0ire mentioned already, it doesn't filter out well known stuff, it's pretty generic and can be used for anything. Suggested alternative `ExcludeListSchemaAssetFilter` is just awkward. So I would say no to this proposal.

[2020-06-09 18:57] greg0ire commented on #1176
You might not have seen [this tweet](https://twitter.com/leahculver/status/1269109776983547904) that shows that some other people don't like it at all, probably because it strongly connects the color "black" with exclusion, which, when you think of it, doesn't make much sense. Maybe we can find a word that makes everyone happier _and_ makes things clearer in the process.

[2020-06-09 20:06] albe commented on #1176
Hmm. Why does it not convey the meaning as well for you? Is it due to the active terminology? `ExcludeSchemaAssetFilter` could work in that case.

Looking at what it does, I would phrase it something like this: "A filter that skips specific assets for a given schema". `SkipSchemaAssetFilter`?

I mean, that it uses a "blacklist" is rather a technical detail even.

[2020-06-09 20:08] dkarlovi commented on #1176
Ignored, since it's literally ignored, not taken into account?

[2020-06-09 20:12] albe commented on #1176
`Ignore(d)SchemaAssetFilter` - well, would work for me - I'm personally leaning towards the active form.

[2020-06-09 21:46] Agares commented on #1178
I need multiple connection, each of them with a different set of parameters. I can have only one factory, which means I can't use constructor injection.
Yes, I could write a compiler pass, but I'd like to avoid having things in the config file which don't mean anything and are magically replaced by the compiler pass

[2020-06-10 05:55] greg0ire commented on #1176
When I see `Exclude(d)SchemaAssetFilter`, I think that the it's an asset filter based on an exclude schema, whatever that is, while you group asset with schema rather than filter (it's a filter that works with excluded schema assets).

Note that in the DBAL, which is where this is used in the end, it's called a schema assets filter, with an s: https://github.com/doctrine/dbal/search?q=getSchemaAss

[2020-06-11 06:51] greg0ire commented on #1176
@nicolas-grekas can you please elaborate? To me, it looks like it's still very much in use: https://github.com/doctrine/DoctrineBundle/blob/ffea292dbf152d124e7a188303c8ec7ac9d3ae4c/DependencyInjection/Compiler/WellKnownSchemaFilterPass.php#L54

and

https://github.com/doctrine/DoctrineBundle/blob/f5a5a3dd1351818080b609b544608b472b07029f/DoctrineBundle.php#L41

But since you are the author, you pro

[2020-06-11 14:24] nicolas-grekas commented on #1176
I think that after https://github.com/doctrine/DoctrineBundle/pull/1163, Symfony is not going to need that pass+denylist anymore.

[2020-06-11 16:48] greg0ire commented on #1176
It does seem to cover the messenger and cache table case, but there are also tables for storing session and information related to the Lock component: https://github.com/doctrine/DoctrineBundle/commit/e4ca3d2c7f5f9076b228d0762ee48ae2b1090340#diff-5bacf947dd7344319148e8a87bb79bcdR9-R10

[2020-06-11 17:58] weaverryan commented on #1176
Hmm, slight preference to keep the class (rename it) and deprecate it later. We really DO need to finish the work so that the session table (especially that one) is handled automatically in Symfony, so that we can then deprecate this.

[2020-06-15 14:15] nkanzari commented on #761
Hello, I'm having the same issue with SF 4.4 and ODM 2. I'm using `capistrano/symfony` for the deployment which run `cach:warmup --no-debug`. I even run the command manually in the server after deployment but nothing works so I had to set `auto_generate_proxy_classes` to `true`.

[2020-06-19 20:44] ostrolucky commented on #1178
Fair enough. PR welcome.

[2020-06-25 13:50] andrea-daru opened #1182 "Problem with Symfony ParamConverter"
The last composer update completely broken my project based on Symfony5:

`php.CRITICAL: Uncaught Error: Argument 1 passed to Sensio\Bundle\FrameworkExtraBundle\Request\ParamConverter\DoctrineParamConverter::__construct() must be an instance of Doctrine\Common\Persistence\ManagerRegistry or null, instance of Doctrine\Bundle\DoctrineBundle\Registry given`

I've already updated all the references of

[2020-06-25 14:10] ostrolucky commented on #1182
@greg0ire was working on fw compatibility layer in doctrine/common, but I also remember running issues with it. @greg0ire can you tell us something about it, what are the recommended steps for users that are affected by it?

[2020-06-25 14:13] xabbuh commented on #1182
Related to sensiolabs/SensioFrameworkExtraBundle#691?

[2020-06-25 14:24] andrea-daru commented on #1182
@xabbuh you're right! Thank you!

[2020-06-25 14:24] #1182 closed

[2020-06-25 19:28] ivan1986 opened #1183 "[feature] Access to EM from Repository"
Hello

Now need inject repository and em both in controller or service.
In old symfony before autoware it not be a issue - we use `getDoctrine()->getRepository(Entity::class)` and `getDoctrine()->getEntityManager()->flush()`
Now we inject in class or function `EntityRepository` and `EntityManager` because we need `EntityRepository` for get Entities and `EntityManager` for save in all change action

[2020-06-25 23:09] ostrolucky commented on #1183
Have your own base repository with this functionality or propose this in ORM. ServiceEntityRepository is not a correct place to do this.

[2020-06-25 23:09] #1183 closed

[2020-06-25 23:12] ostrolucky commented on #1176
I don't see the point to rename it only so we remove it later. We also don't need to wait for Symfony to update first, we can deprecate it before that. That would only encourage dropping this sooner.

[2020-06-29 02:36] jagusport commented on #847
amigos! si me funcionó solucionar este errror.

Yo lo tenía al instalar chamilo en un servidor web.

Le habilite php 7.1 al servidor y me logró relacionar la base de datos con la instalación.

muchas gracias

[2020-06-29 13:14] aless673 commented on #1166
Not using Doctrine2 module make it works (see https://github.com/Codeception/Codeception/issues/3497)

It is a solution for us as we only use Db module

[2020-06-29 16:52] ostrolucky commented on #1178
As we cleared up in a PR, people who need something like this can just declare their own connection similar like https://github.com/doctrine/DoctrineBundle/blob/be9794b7b79291d259396ed7b1868388bd0e5feb/Resources/config/dbal.xml#L50-L52

[2020-06-29 16:52] #1178 closed

[2020-07-08 15:40] TheFox opened #1185 "Cannot execute queries while other unbuffered queries are active"
Even when I set

[code]

I still get this error on MySQL 5.7.25: `General error: 2014 Cannot execute queries while other unbuffered queries are active.  Consider using PDOStatement::fetchAll().  Alternatively, i
  f your code is only ever going to run against mysql, you may enable query buffering by setting the PDO::MYSQL_ATTR_USE_BUFFERED_QUERY attribute`.

I'm using Symfony 4.4, and this Doctrin

[2020-07-08 15:55] TheFox commented on #1185
Hm, I don't know why, but this was related to https://github.com/doctrine/migrations/issues/1004

[2020-07-08 15:55] #1185 closed

[2020-07-14 11:34] ossinkine opened #1186 "Add PhpArrayAdapter to cache metadata"
I propose to cache metadata using PhpArrayAdapter the same way as serializer or validator in Symfony.
I've added it in my project and got 1-2% speed up on production.

If the communtity approve this, I will create a PR.

[2020-07-14 11:42] dmaicher commented on #1186
I think this is done already using recipes?

https://github.com/symfony/recipes/blob/master/doctrine/doctrine-bundle/1.12/config/packages/prod/doctrine.yaml#L6

And `cache.system` should use `PhpArrayAdapter`

[2020-07-14 11:55] ossinkine commented on #1186
This is not entirely true. `PhpArrayAdapter` is not a typical adapter, you can't just set `cache.adapter.php_array` or something like that, there is no a such service: https://github.com/symfony/symfony/blob/5.1/src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml.

Moreover it should be warmed up before using. Usually it's using [in prod env](https://github.com/symfony/symfony/blob/5.1/s

[2020-07-14 12:00] dmaicher commented on #1186
And you say using `PhpArrayAdapter` would be faster than using `cache.system`?

[2020-07-14 12:04] ossinkine commented on #1186
I used APCu and `PhpArrayAdapter` a little bit faster in my environment.

No wonder the Symfony uses it in prod in Validator, Serializer and Annotation components 😉

[2020-07-14 12:27] nicolas-grekas commented on #1186
`PhpArrayAdapter` shouldn't be used if it cannot be warmed up, that's why it's used only for some specific use cases. The reason is that opcache (which is the backend used by `PhpArrayAdapter`) doesn't support updates without leading to potentially significant unused memory.

[2020-07-14 12:31] ossinkine commented on #1186
Metadata caching looks like the case when we can use `PhpArrayAdapter`

[2020-07-14 19:48] kezek commented on #761
I just implemented a custom CacheWarmerInterface and I'm getting the same error.

I don't want to ever set auto_generate_proxy_classes to true in production.

[2020-07-15 13:06] JarJak opened #1187 "[1.12.10] Could not clear metadata cache"
Background:
One of the fields in an entity class has been renamed. Metadata cache keeps the old name so I want to clear it up.

When running command:
[code]

I get the following error:
[code]

To me it looks like Symfony is trying to warm up cache while booting up the kernel, which triggers doctrine cache warmer before clearing up the old cache.

Running the command second time does not give an er

[2020-07-23 09:07] kirya-dev opened #1189 "Add QueryBuilder::setFetchMode"
Add new method QueryBuilder::setFetchMode

[2020-07-23 09:13] stof commented on #1189
QueryBuilder is not implemented by DoctrineBundle, so there is nothing to do here.

And btw, when requesting it to the right project, I strongly suggestyou to take the time to describes the reasons why you want the feature (otherwise, I'm almost sure that maintainers won't bother about doing it)

[2020-07-23 09:13] #1189 closed

[2020-07-23 11:32] kirya-dev commented on #1189
Opened new issue https://github.com/doctrine/orm/issues/8219

[2020-07-24 11:59] nusphere opened #1190 "Symfony 5.1.3 & 4.4.11 incompatible with 2.1"
since in the latest version of symfony/doctrine-bridge - requires doctrine/persistence: ^1.3|^2 - now. The updates struggles and downgrades the doctrine-bundle to 2.0.2

[code]

[2020-07-24 12:03] nusphere commented on #1190
#1181

[2020-07-24 12:10] dmaicher commented on #1190
Cannot reproduce any problems on `symfony/demo` after I updated dependencies:

[code]

How does your composer.json look like?

[2020-07-24 12:17] nusphere commented on #1190
Hier my composer packages:

[code]

[2020-07-24 12:18] dmaicher commented on #1190
Can you show your `composer.json`? At least the relevant `symfony/*`and `doctrine/*` constraints.

And can you show the output of `composer why-not doctrine/doctrine-bundle ^2.10`?

[2020-07-24 12:23] nusphere commented on #1190
I am using flex, with a private repository, but in none of our private repositories is doctrine/persistence required to ^2.0

the composer.lock show me a requirement doctrine/persistence for of doctrine/common 3.0.2

<img width="528" alt="Bildschirmfoto 2020-07-24 um 14 20 24" src="https://user-images.githubusercontent.com/5822825/88390574-d6d23b80-cdb8-11ea-91e4-54c8c723f96a.png">

`output of com

[2020-07-24 12:26] nusphere commented on #1190
<img width="520" alt="Bildschirmfoto 2020-07-24 um 14 25 30" src="https://user-images.githubusercontent.com/5822825/88390974-8f987a80-cdb9-11ea-97ca-92c925ccaf82.png">

[code]

[2020-07-24 12:30] dmaicher commented on #1190
And the output of `composer why-not doctrine/common 2.*`?

[2020-07-24 12:31] nusphere commented on #1190
[code]

[2020-07-24 12:34] michaljusiega commented on #1190
Maybe its related to https://github.com/doctrine/DoctrineBundle/pull/1181 ?

[2020-07-24 12:42] nusphere commented on #1190
After some research, it might be depending on `doctrine/common` which is require `doctrine/persistence` ^2.0
`doctrine/common` is a requirement of `doctrine/orm` in version constrain ^2.11 || ^3.0 and implemented by `symfony/orm-pack` v1.0.8

[2020-07-24 12:57] nusphere commented on #1190
I added manual a fixed version of `doctrine/orm`

<img width="336" alt="Bildschirmfoto 2020-07-24 um 14 49 26" src="https://user-images.githubusercontent.com/5822825/88392822-efdceb80-cdbc-11ea-97ec-dab11584fe1f.png">

Now, a composer update works correct:

<img width="600" alt="Bildschirmfoto 2020-07-24 um 14 49 20" src="https://user-images.githubusercontent.com/5822825/88392930-23b81100-cdbd-11e

[2020-07-24 13:18] nusphere commented on #1190
Conclusion:

After the release from today. Symfony 5.1.3 and Symfony 4.4.11 will open the version constrain for `doctrine/persistence` to ^2.0 through `symfony/doctrine-bridge`. This setting open the dependency chain for `doctrine/orm` which opens the version constrain for doctrine/common through ^2.11 || ^3.0.

After opening the version constrain in `symfony/doctrine-bridge` for `doctrine/persist

[2020-07-24 13:22] stof commented on #1190
So, doctrine/orm 2.7.3 supports *only* the v2 of doctrine/persistence ?

[2020-07-24 13:27] nusphere commented on #1190
doctrine/orm 2.7.3 supports doctrine/common in version ^2.11 || ^3.0 and doctrine/persistence ^1.3.3 || ^2.0

but it will try to update the latest version of each requirement. So doctrine/common 3.0 will be installed which requiered doctrine/persistence  ^2.0 only.

[2020-07-24 13:38] stof commented on #1190
well, it depends. If your doctrine-bundle dependency is `^2.1`, you will directly get a solution using doctrine/persistence 1.3, doctrine/orm 2.7.3 and doctrine-bundle 2.1.0.
For the case of requiring `doctrine/doctrine-bundle` `^2.0`, Composer indeed has the choice to either use the latest doctrine/persistence or the latest doctrine/doctrine-bundle, and might make a different choice than the one

[2020-07-24 21:36] nusphere commented on #1190
thank you for the help around this issue.

in my case, the upgrade to doctrine/persistance 2.0 was a hugh problem, especialy for my repositories. the solution for my problem was to fix this upgrade - because there was no reason to upgrade a major release of some dependencies.

i checked some deep dependecies in our code, so it will work for now.

i would like to close this issue, because supportin

[2020-07-25 00:48] #1190 closed

[2020-07-25 09:52] Axelandre42 opened #1191 "[Suggestion] add a cleaner way to register custom DBAL types."
**Description**
I was trying to find a way to register automatically types from a bundle. The only way I've found is to modify Doctrine's configuration on the fly using a `PrependExtensionInterface` implementation (see #336). That doesn't look clean for the following reasons:

* *Modifying configuration can easily lead to deprecation usage*: if there's a configuration schema change, it makes every

[2020-07-28 11:55] pajon commented on #1187
Hello,
i have the same issue. Until `2.0.2` there wasn't required dependency (`"doctrine/persistence": "^1.3.3"`).

[code]

Composer file [2.0.2](https://github.com/doctrine/DoctrineBundle/blob/2.0.2/composer.json#L27) and [2.0.3](https://github.com/doctrine/DoctrineBundle/blob/2.0.3/composer.json#L30).

More info from `doctrine/persistence` [there](https://github.com/doctrine/persistence/releases

[2020-07-28 20:21] ossinkine commented on #1186
So what about my proposal? I have an example implementation, do I need to create a PR? Or we don't need this and close the issue?

[2020-07-28 20:52] ostrolucky commented on #1186
What's your actual proposal? Cache via PhpArrayAdapter by default, or what? Because that's not very useful when flex recipe overrides that, such change should go there instead.

[2020-07-28 21:22] ostrolucky commented on #1187
@pajon How is doctrine/persistence version related to this issue?

@JarJak From what you wrote, I would suggest to create issue in Symfony, as it's an Symfony issue if it triggers cache warmup before it cleared old cache.

[2020-07-28 21:26] ostrolucky commented on #1191
Just reading and modifying `doctrine.dbal.connection_factory.types` in your compiler pass didn't work?

[2020-07-28 21:44] ossinkine commented on #1186
I propose to cache via `PhpArrayAdapter` always in production environment (actually when debug mode is disabled) and configured cache adapter is used as fallback in `PhpArrayAdapter`, exactly the same way as it used in symfony validator and serializer components.

[2020-07-28 22:22] ostrolucky commented on #1186
The way I see it, this proposal would be accepted, but 2 conditions need to be met:
- Similarly as we have `doctrine.orm.metadata_cache_driver` configuration, Symfony Validator also used to have `framework.validation.cache` configuration, which was properly deprecated and removed. I don't see keeping it and ignoring it in production expected behaviour, so I'm up for this proposal, but option shoul

[2020-08-01 09:06] Axelandre42 commented on #1191
I meant it would be better to have that work done on the Doctrine side...

[2020-08-01 09:11] ostrolucky commented on #1191
What work? You asked for programmatic way to register custom types, you have that.

[2020-08-01 09:47] Axelandre42 commented on #1191
And what happens if the configuration structure changes ?

[2020-08-01 10:00] ostrolucky commented on #1191
Any API we introduce will have this problem. You have what you asked for, let's close.

[2020-08-01 10:00] #1191 closed

[2020-08-04 12:17] alexxk82 commented on #765
Same issue here...

[2020-08-04 14:19] stof commented on #765
@alexxk82 please create a new ticket with details about your own issue, instead of commenting with `Same issue here` on a ticket that was closed more than 2 years ago by the reporter themselves (and so for which the reporter might have found a solution without posting it back).

[2020-08-05 17:00] KartaviK opened #1193 "Inject custom orm mapping driver"
I cant find any docs or information about how to inject my own mapping driver to bundle. How it can be implemented
I want just configure it and set in config like that
[code]

[2020-08-11 18:12] ostrolucky commented on #1193
This part [is actually handled by doctrine-bridge](https://github.com/symfony/symfony/blob/48102d96f3de4ce87d442c71e82c95ca0dca3b4b/src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php#L188), please create issue in Symfony repository, thanks!

[2020-08-11 18:12] #1193 closed

[2020-08-11 18:23] KartaviK commented on #1193
Thanks)

[2020-08-11 20:55] #814 closed

[2020-08-12 15:07] theravel opened #1194 "schema_filter is no more respected in 2.1.0"
Have doctrine configuration (`doctrine.yaml`)
[code]

Have messenger configuration (`messenger.yaml`)
[code]

Execute `schema:update`, it does not return an error:
[code]

Execute `schema:validate`, it returns an error:
[code]

If you debug what exactly `schema:validate` does not like, it suggests to create `system_failed_messages` table.

Same configuration works perfectly fine in 2.0.8 (`schema:

[2020-08-20 13:18] ossinkine commented on #1186
@ostrolucky I couldn't find any description for branches so I can't decide which branch create PR to?

[2020-08-20 15:56] ostrolucky commented on #1186
master, please

[2020-08-20 23:09] trickeyone opened #1197 "Upgrading to doctrine/orm 2.7.3 with doctrine/common 3.0 causes Class not found errors"
After issuing a composer update on doctrine/* on a newly upgrade Symfony 5 project, during the cache warmup I'm getting the below error when using `doctrine/common` 3.0

[code]

If I force `doctrine/common` to `^2.7 <3.0`, the errors go away. Maybe `doctrine/orm:2.x` shouldn't be `doctrine/common:^2.11 || ^3.0` just yet?

[2020-08-24 18:08] greg0ire commented on #1194
I had a look at the history between 2.0.8 and 2.1.0, the only things that seems to related based solely on the commit message is this: https://github.com/doctrine/DoctrineBundle/commit/d7b61d6a6cfb50bb5162cc51e3cbb243ce88f626

[2020-08-24 21:45] ostrolucky commented on #1194
This is not an expected message. I think your problem is somewhere else. I tried to reproduce your problem, but failed:
[code]

 So we need more information.

[2020-08-25 07:24] greg0ire commented on #1197
I just released 2.1.1, that should fix the issue.

[2020-08-25 07:24] #1197 closed

[2020-08-25 07:42] trickeyone commented on #1197
Awesome! Thank you very much!

[2020-08-25 08:25] KartaviK opened #1201 "BC break at 2.1.1"
At version 2.1.1 i got this

[code]

Restoring at 2.1.0 and all works fine

[2020-08-25 08:31] bastien70 commented on #1201
Same problem

`Cannot autowire service "App\Repository\App\AbsenceRepository": argument "$registry" of method "__construct()" references interface "Doctrine\Common\Persistence\ManagerRegistry" but no such service exists. Did you create a class that implements this interface?`

[2020-08-25 08:36] dmaicher commented on #1201
I guess we need to restore this service alias?

https://github.com/doctrine/DoctrineBundle/compare/2.1.0..2.1.1#diff-526de6d56db54965998fa70108bbe787L70

[2020-08-25 08:44] KartaviK commented on #1201
The main problem that there was removed that alias and old usages (who already use this class) was broken.
In current version ServiceEntityRepository uses `Doctrine\Persistence\ManagerRegistry` that does not have alias to `Doctrine\Common\Persistence\ManagerRegistry`. In new automatically generated repositories there are correct classes

[2020-08-25 08:46] KartaviK commented on #1201
You can totally rename `use Doctrine\Common\Persistence\ManagerRegistry` to `use Doctrine\Persistence\ManagerRegistry` in project and all will work fine

[2020-08-25 11:02] dmaicher commented on #1201
Release `2.1.2` fixes this BC break.

[2020-08-25 11:02] #1201 closed

[2020-08-26 06:12] Knallcharge opened #1204 "Update from 2.1.0 to 2.1.2 breaks compatibility"
Hi,

I just updated the DoctrineBundle from version 2.1.0 to 2.1.2 and am getting errors in some external libraries that include classes with changed paths/namescapes. Don't know if this is the bundle itself or the dependencies it pulls (doctrine/persistence 1.3.8 => 2.0.0, doctrine/common 2.13.3 => 3.0.2).

Here are two errors I'm getting for Tetranz\Select2EntityBundle and Sg\DatatablesBundle:
A

[2020-08-26 07:56] ostrolucky commented on #1204
There is nothing we can do here unfortunately, this is transitive dependency problem. Please open the bug in the bundle, asking them to support doctrine/persistence. Meanwhile, explicitly require doctrine/persistence:^1 in your project.

[2020-08-26 07:56] #1204 closed

[2020-08-26 20:12] trickeyone commented on #1197
Sorry, meant to add this yesterday. I was able to successfully upgrade `doctrine/doctrine-bundle` to 2.1.2 and `doctrine/persistence` to 2.0.0. Thanks once again for all the help, @greg0ire !!

[2020-08-30 22:37] #1187 closed

[2020-08-31 15:06] oleg-andreyev opened #1205 "Bundle (2.1.x) cannot be installed on 3.4.x"
In https://github.com/doctrine/DoctrineBundle/blob/master/UPGRADE-2.0.md, it is stated that bundle supports 3.4 LTS
But because of bundle is requiring symfony/doctrine-bridge ^4.3.7 it cannot be done.

symfony/doctrine-bridge is conflicting with symfony/http-kernel: <4.3.7, so it cannot be installed for 3.4 LTS

[2020-08-31 15:31] ostrolucky commented on #1205
Please see this comment https://github.com/doctrine/DoctrineBundle/issues/1094#issuecomment-565489335

[2020-08-31 15:31] #1205 closed

[2020-08-31 15:55] oleg-andreyev commented on #1094
It would nice to **reflect** this fact in UPGRADE notes.

[2020-08-31 18:01] ostrolucky commented on #1094
Bear in mind 1.x of bundle is working perfectly fine with both 3.x and 4.x symfony version, so there is no need to do bundle update when moving between symfony 3.x and 4.x.

[2020-08-31 19:23] oleg-andreyev commented on #1094
it's working fine. In our project due to dependencies (resolved to doctrine/common: ~1.0) is generating 1mil deprecations in 5 min.. so it's not okay for use.

[2020-09-07 07:42] cmahnke opened #1208 "`./bin/console doctrine:schema:create --dump-sql` generates invalid SQL"
Running `./bin/console   doctrine:schema:create --dump-sql` creates invalid SQL, the results are prepended with the following line ` The following SQL statements will be executed:`

It's probably better to insert a comment sign before this line or omit it at all, since the user probably knows what to expect when running with `--dump-sql`: Not some redundant message but proper SQL.

I'm using Doctr

[2020-09-07 07:48] ostrolucky commented on #1208
Not a doctrine bundle issue. Please create issue in DBAL.

[2020-09-07 07:48] #1208 closed

[2020-09-07 08:40] cmahnke commented on #1208
Thanks, done: https://github.com/doctrine/dbal/issues/4259

[2020-09-07 08:53] greg0ire commented on #1208
@ostrolucky we can use the "Transfer issue" feature now ;)

[2020-09-07 12:16] ostrolucky commented on #1208
Yes, but issue description needs to be updated by OP as well, so better to create new issue

[2020-09-14 18:42] mwebber92 opened #1209 "Symfony 4 Test Issues"
I have updated my symfony installation from 3.4 to 4.4 and encountered strange issue with the tests...
[code]

Later if i try `$this->em->remove($click)` it says that my entity is detached and can't be deleted...

Did i missed something how Test clients started working?

Specs: Symfony 4.4 and doctrine-bundle doctrine/doctrine-bundle 1.12.10

Any suggestions are welcome!

Edit: also tried with doc

[2020-09-14 21:28] greg0ire commented on #1209
Hi, we try to keep Github issues for bug reports and feature requests only. If you have a question, please ask it on Stack Overflow or in one of the channels mentioned at https://www.doctrine-project.org/community/index.html

[2020-09-14 21:28] #1209 closed

[2020-09-17 16:14] lomby92 opened #1210 "Add "different statements" field to Symfony Web Debug Toolbar"
Copy of: https://github.com/symfony/symfony/issues/38158

**Description**
The Symfony Web Debug Toolbar is a powerful tool. Whenever a dev sees a colored section it starts to fear what it has potentially broken.

The Doctrine section is very useful as it shows the number of queries and the query time. If something goes wrong it became red/yellow and the dev is ready to detect what/where is the pro

[2020-09-19 09:06] #1194 closed

[2020-09-21 07:38] a-menshchikov opened #1212 "Cannot use custom method with Entity Listener"
When I try to configure `doctrine.orm.entity_listener` with custom method, it's still trying to call method based on event name.

[2020-09-21 07:44] #1212 closed

[2020-09-21 07:44] a-menshchikov commented on #1212
My mistake.

[2020-09-23 12:00] dmaicher commented on #1179
@ostrolucky I think now we could work on this?

Since release [2.11](https://github.com/doctrine/dbal/releases/tag/2.11.0) I now have some deprecations related to this on some projects:

[code]

[2020-09-23 12:03] ostrolucky commented on #1179
Yep

[2020-09-23 22:10] ostrolucky commented on #1210
I am not convinced that this is reliable enough indicator to raise warning. For all I know, user can have complicated query with 2 different set of parameters, which is not an N+1 problem. I believe it will lead to false positives which will decrease value of this toolbar. Having duplicated queries is not an issue until there is too much queries, so current condition is enough. If you are interest

[2020-09-23 22:12] ostrolucky commented on #1021
Closing as explained.

[2020-09-23 22:12] #1021 closed

[2020-09-24 19:51] lomby92 commented on #1210
I agree that false positives could decrease the value of the toolbar.

How about reducing the scope of changes?
Maybe we can introduce just the "Different statements" into the div (as proposed) without apply any styling.

In this way we can avoid misunderstandings about the yellow colour and, at the same time, we add a useful info.

[2020-09-24 20:11] ostrolucky commented on #1210
I'm fine with that

[2020-09-25 10:53] Dodenis opened #1214 "doctrine:database:create and doctrine:database:drop not working with Slaves configuration and Doctrine/DBAL 2.11"
Since Doctrine/dbal 2.11 master/slave connection options have been replaced by primary/replica.

The commands `doctrine:database:create` and `doctrine:database:drop` displays the following error:
`Connection does not contain a 'path' or 'dbname' parameter and cannot be dropped.`

[2020-09-28 09:23] toar86 commented on #848
i also have this error, when switch symfony to prod mod, then proxies to mappedSuperclass wasn't generated and then i have error

`[2020-09-28T08:40:41.771148+00:00] php.WARNING: Warning: require(/home/xxx/public_html/var/cache/prod/doctrine/orm/Proxies/__CG__AppEntityCoreEntity.php): failed to open stream: No such file or directory {"exception":"[object] (ErrorException(code: 0): Warning: require

[2020-09-28 10:52] stof commented on #848
@toar86 see the explanation above. You would need to investigate the stack trace to find out why such a proxy for a mapped superclass was requested at all.
Not generating proxies for mapped superclasses is the intended behavior as such proxies don't make sense.

[2020-09-28 20:54] jblac commented on #1071
I'm a little late to the game but let me make sure i've got this straight.   you have deprecated and removed yaml, a very well used and highly respected format...  for xml, a format that needs to die; and annotations, a format that shouldn't exist?

Who's bright idea was that?  This is the only thing that's keeping me from using symfony again - symfony without doctrine is trash, and doctrine witho

[2020-09-28 22:45] Pictor13 commented on #1071
I don't like annotation either (as long as they aren't natively supported by PHP).

But about XML I disagree.
Sure, XML *makes you feel like* you want to die; sometimes. But it's a very solid, *versatile* and portable language.
It's just more verbose; and requires you to understand more concepts in order to use it properly.

YAML is easier, faster, more readable, but I never liked to use it, excep

[2020-09-28 22:57] jblac commented on #1071
XML is near 50 years old, it's time it be put out to pasture.

[2020-09-29 06:11] alcaeus commented on #1071
@jblac please voice your concern in the ORM issue tracker (https://github.com/doctrine/orm), but remember that this has been discussed back and forth without any sensible outcome. DoctrineBundle is merely mirroring any change in ORM.

I'm locking this issue as there's nothing the bundle maintainers can do here (and please rest assured that we've tried).

[2020-09-29 12:39] #1210 closed

[2020-10-02 12:16] biozshock opened #1224 "EntityListener can't be applied to multiple services with same class name"
With current implementation of `ContainerEntityListenerResolver` it's not possible to use same class, even if it has different service IDs

Consider following config:
[code]

The entity listener `service_b` will be applied to entity `My\Entity1`, because https://github.com/doctrine/DoctrineBundle/blob/2.1.2/Mapping/ContainerEntityListenerResolver.php#L66 uses class name instead of the service ID t

[2020-10-02 12:18] stof commented on #1224
AFAICT, this is because the way the ORM works is that it uses a class name as the input of the resolver (and so does not allow having multiple ones with the same class name)

[2020-10-02 12:49] biozshock commented on #1224
This is because how a class metadata is collected in `EntityListenerPass`. Doctrine does not operate with class names here, but with strings. I'm positive that DoctrineBundle can put service IDs instead of real class names, and it will just work.
Though i'm not really sure how to implement such logic for services that are marked as `lazy`. Because an interface accepts only an instance of the liste

[2020-10-02 13:03] stof commented on #1224
The interface in the ORM explicitly declares the argument as being a class name rather than an arbitrary string: https://github.com/doctrine/orm/blob/e0eb82a3b12a3fd0878b5d56c3c293c04c168329/lib/Doctrine/ORM/Mapping/EntityListenerResolver.php#L42-L51

[2020-10-02 13:43] biozshock commented on #1224
In terms of the symfony bundle that's an ID of the service.

[2020-10-02 13:49] ostrolucky commented on #1224
Not in your example. If you want to discrespect the contract, you can do it on your own, but we don't want to do that in a bundle. Another option is to open issue in ORM which relaxes the contract.

[2020-10-02 13:51] stof commented on #1224
@biozshock no. The ContainerEntityListenerResolver lookups the provided argument into the ServiceLocator it takes as argument. So it can indeed work with any kind of string internally as long as both sides are matching. But the expectation of the signature are defined by the interface it implements, which is why the ServiceLocator is configured with class names as keys.

[2020-10-03 10:52] fabien007 opened #1225 "dbal.schema_filter is ignored for specific table 'messenger_messages'"
Since symfony 5.1 the table 'messenger_messages' is no longer exclude by the `schema_filter`'s setting :  `schema_filter: ~^(?!messenger_messages)~`

Since symfony 5.1 i got:
`php bin/console doctrine:schema:update --dump-sql`
`ALTER TABLE messenger_messages CHANGE body body LONGTEXT NOT NULL;`

I should not have `messenger_messages` in any SQL queries because of my `schema_filter`'s setting

 `Me

[2020-10-03 14:30] ostrolucky commented on #1224
Marking on hold until contract is changed in ORM

[2020-10-03 14:33] ostrolucky commented on #1214
Should be solved in next release

[2020-10-03 14:33] #1214 closed

[2020-10-03 14:37] ostrolucky commented on #1225
You answered your own question. Since this got broken when symfony was updated to 5.1 (and not doctrine-bundle), this is most likely symfony issue, so you should report it there.

[2020-10-03 15:24] fabien007 commented on #1225
I created an issue on symfony github as advised : [https://github.com/symfony/symfony/issues/38398](https://github.com/symfony/symfony/issues/38398)

[2020-10-07 13:19] Adirelle commented on #1179
It also triggers an error when using the `--connection` parameter:

[code]

With these versions:
* doctrine/dbal 2.11.1
* doctrine/doctrine-bundle 2.1.2

[2020-10-07 13:48] dmaicher commented on #1179
@Adirelle indeed. I proposed a fix for that issue here: https://github.com/doctrine/DoctrineBundle/pull/1226

[2020-10-09 09:17] jdelaune opened #1227 "Release tag"
Any chance of getting a release tagged (even if its a beta release)? As with Symfony 5.2-Beta1 you hit issues unless you require the dev-master branch of DoctrineBundle because of this commit:

https://github.com/doctrine/DoctrineBundle/commit/12833cdad657129406f8d8f8f5d3d35c16e8da22

Thanks

[2020-10-09 09:27] z31fbras opened #1228 "Feature request - Extract as CSV"
Hi there! 👋

This would be awesome to extract data from the database in a pretty format.
I tried bin/console doctrine:query:sql.
Although, the return value is formatted like this:
[code]

This format is not convenient for the user I extracted the data for 😣
CSV extract would be perfect.

If there any existing solutions for this need, I would love to hear about them!

[2020-10-09 09:29] ostrolucky commented on #1227
Referenced commit is for supporting new features, can you elaborate what regressions are you seeing in Symfony 5.2?

[2020-10-09 09:30] ostrolucky commented on #1228
No sorry, this is out of scope of this project.

[2020-10-09 09:30] #1228 closed

[2020-10-09 09:39] jdelaune commented on #1227
Well yes its a new feature in Symfony 5.2, if you use the new ulid doctrine types in Symfony 5.2 then you get errors like this:

`[error] Error thrown while running command "doctrine:schema:update". Message: "Unknown column type "ulid_binary" requested. Any Doctrine type that you use has to be registered with \Doctrine\DBAL\Types\Type::addType(). You can get a list of all the known types with \Doc

[2020-10-09 09:43] ostrolucky commented on #1227
Yeah so that's expected. Anyways yeah we will release 2.2 soon-ish

[2020-10-09 10:24] jdelaune commented on #1227
Okay thanks

[2020-10-09 10:24] #1227 closed

[2020-10-09 10:56] stof commented on #1228
`doctrine:query:sql` is meant as a quick debugging tool, not an extract tool

[2020-10-09 12:10] z31fbras commented on #1228
Thanks @stof For explaining the reason to me! 👍

[2020-10-12 16:53] petewalker opened #1230 "Console Commands: Possible bug - Using MasterSlaveConnection does not respect driverOptions"
We're using `MasterSlaveConnection` to allow us to make use of read replicas in production.

I'm trying to set up an SSL certificate with the connections as we'd like to enforce TLS on our connections. I'm using the below config:

[code]

Symfony responds to this config fine, and a TLS connection seems to be established with the MySQL server. However, when I try to run a CLI command:

[code]

When

[2020-10-12 17:33] ostrolucky commented on #1230
It's a bc break in dbal 2.11. This is a duplicate issue of https://github.com/doctrine/DoctrineBundle/issues/1214. Please always check what you update before regressions.

[2020-10-12 17:46] petewalker commented on #1230
This isn't the same issue. We're currently pinned at dbal 2.10 _because_ of that issue.

The change I made was to try and configure TLS. It works without the TLS config.

[2020-10-12 19:28] dmaicher commented on #1230
To me this indeed looks like a bug in the command. We will then also have the same issue in other commands like [CreateDatabaseDoctrineCommand](https://github.com/doctrine/DoctrineBundle/blob/1.12.x/Command/CreateDatabaseDoctrineCommand.php#L57)

[2020-10-14 06:12] TavoNiievez commented on #209
I have a DDD style directory structure, and for example, i have one entity in the path `App\Person\User\Domain\Model\User` and another in the path `App\Person\Employee\Domain\Model\Employee`. So I decided to create a common directory (with common prefix as well):
[code]
And just specified the folders they are located in the name of the `.orm.xml` file.
[code]

If you don't choose a prefix, you sho

[2020-10-22 00:00] kralos commented on #1230
@dmaicher technically not a bug in doctrine-bundle, it's a BC break in dbal. See https://github.com/doctrine/dbal/issues/4295#issuecomment-699217408

that said, it's pretty dirty to be touching (the now `@internal`) `$params` from a dbal connection... especially considering how much the params are manipulated inside `MasterSlaveConnection` / `PrimaryReadReplicaConnection`.

it would probably be mo

[2020-10-22 07:04] petewalker commented on #1230
@kralos As mentioned above, this is not caused by https://github.com/doctrine/dbal/issues/4295#issuecomment-699217408 - it's a separate issue. In the above code, the `master` key is present in the `$params` array. I originally encountered this issue whilst using dbal 2.10.

However, I definitely agree with your sentiment that doctrine-bundle shouldn't be messing with the `$params` array in this wa

[2020-10-22 12:04] zazoomauro opened #1235 "Use PrimaryReadReplicaConnection instead of MasterSlaveConnection"
In order to avoid deprecation message:

`DEPRECATION: Doctrine\DBAL\Connections\MasterSlaveConnection is deprecated since doctrine/dbal 2.11 and will be removed in 3.0, use Doctrine\DBAL\Connections\PrimaryReadReplicaConnection instead. /var/www/vendor/doctrine/dbal/lib/Doctrine/DBAL/Connections/MasterSlaveConnection.php:98
`

[2020-10-22 12:42] Seldaek commented on #1235
Related to this, primary/replica parameters are impossible to set, so even if one sets `                wrapper_class: 'Doctrine\DBAL\Connections\PrimaryReadReplicaConnection'` in the doctrine bundle config, it fixes the deprecation warning about the class, but then PrimaryReadReplicaConnection fails hard with `InvalidArgumentException("primary or replica configuration missing")`

[2020-10-25 10:33] ostrolucky commented on #1179
Fixed in master

[2020-10-25 10:33] #1179 closed

[2020-10-25 15:36] wcervini opened #1239 "doctrine:migration:create not create a database with a specific charset"
**Symfony version(s) affected**: 4.4.15

**Description**
when try to create a database  on console, take the default charset default on MySQL Database.

**How to reproduce**
Udpate the doctrine.yaml file (See screenshot1):
![Screenshot1](https://user-images.githubusercontent.com/51060/97111289-f0479400-16d5-11eb-8c4a-9842a95c6c77.jpg)

**Possible Solution**
- run on console doctrine:migrations:gen

[2020-10-25 19:31] ostrolucky commented on #1235
See https://github.com/doctrine/DoctrineBundle/pull/1237. Does that solve issue for all of you?

[2020-10-25 19:51] ostrolucky commented on #1239
`doctrine:migration:create` is not a command coming with doctrine-bundle. Why do you think this is a DoctrineBundle issue? And what sql do you expect to be generated based on that configuration? You have obfuscated the resulting collation.

[2020-10-25 21:49] ostrolucky commented on #1230
Check https://github.com/doctrine/DoctrineBundle/pull/1240

[2020-10-27 10:09] derflocki opened #1241 "use DBMS_XPLAN.DISPLAY for OraclePlatform"
Explaining Queries currently does not work for Oracle. If you consider this for integration, I have also prepared a fix https://github.com/doctrine/DoctrineBundle/commit/d2e7e43b9a97d8cebce7d318872b8b252432d306

[2020-10-27 10:12] ostrolucky commented on #1241
sure, can you create a PR?

[2020-10-27 18:56] wcervini commented on #1239
I opened an incident in another Symfony group and they told me that it was related to Doctrine bundle

[2020-10-27 19:31] wcervini commented on #1239
I check the code doctrine/doctrine-bundle/Command/CreateDatabaseDoctrineCommand.php line102 only create the database
with out charset or collate parameter.

[2020-10-27 21:07] ostrolucky commented on #1239
Title is talking about `doctrine:migration:create` command though. `CreateDatabaseDoctrineCommand.php` is `doctrine:database:create`

[2020-10-28 15:37] wcervini commented on #1239
sorry my mistake writing the title:. Your right , the problem is when you create a database, when you migrate everything works fine, all the tables are created following the doctrine.yaml parameters, including or not the collate and the charset established in the configuration file. Only doctrine: databse: create does not include the collate and charset command parameters in the creation of the da

[2020-10-28 16:13] ostrolucky commented on #1239
What's the SQL generated by `doctrine:database:create` and what's the expected SQL for given configuration?

[2020-10-28 19:28] #1230 closed

[2020-10-28 19:53] ostrolucky commented on #1235
merged in master/2.2

[2020-10-28 19:53] #1235 closed

[2020-10-29 10:01] wcervini commented on #1239
this is my doctrine.yml

doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                # configure these for your database server
                driver: 'pdo_mysql'
                server_version: 'mariadb-10.3.25'
                charset: utf8
                default_table_options:
                    charset: utf8
                    collate:

[2020-10-30 15:14] FallDi opened #1244 "Config parameter "logging" didn't work with parameters passed via env"
[code]

[code]

[code]

Actual result: queries are logged
Expected result: queries are NOT logged

Root cause:
https://github.com/doctrine/DoctrineBundle/blob/6b1620354863f1f04fd4aa0a725e4ad1c728faac/DependencyInjection/DoctrineExtension.php#L139
`$connection['logging']` contains something like `string(74) "env_53d7fe31b9ea8cf5_bool_LOG_SQL_QUERIES_d2a427ed60021c1b934ed0f420ebe859"`

[2020-10-30 16:53] ostrolucky commented on #1244
That doesn't look like DoctrineBundle issue. Please report to symfony/symfony.

[2020-10-30 16:53] #1244 closed

[2020-10-31 05:29] FallDi commented on #1244
@ostrolucky thank you for reply!

Hm, really interesting because `$connection['url']` also contains similar value `env_b0086c69f51825a4_resolve_DATABASE_URL_0bb76cbcd90ee7d21359935b180e6395`.
 `url` handled correctly, without any issues.

I'm not sure but it looks like standard symfony behaviour, `env_*` values resolves somewhere late.
However MonologBundle handled such case manually
https://githu

[2020-10-31 08:04] #1241 closed

[2020-10-31 18:30] stof commented on #1244
The difference is that the configuration for `logging` affects the way services are wired. So knowing it at compilation time is necessary, while the value of env variables is not known at that point (as the whole point of the feature is that changing the value of such env variable does not require recompiling the container).
The `url` option of the configuration does not need to be known at compil

[2020-10-31 19:14] ostrolucky commented on #1239
This is a limitation of DBAL https://github.com/doctrine/dbal/blob/b5e15999e8f626b9a50edef142fffc7be57d0211/lib/Doctrine/DBAL/Platforms/MySqlPlatform.php#L405. As you see it accepts database name only, nothing else. So we can't help you here in a bundle. Please open issue in DBAL if you wish to proceed further.

[2020-10-31 19:14] #1239 closed

[2020-10-31 19:36] #1225 closed

[2020-11-05 11:54] mickadoo commented on #694
@Kwadz I had the same error as you, but judging by the difficulty I had in finding anyone else I'd say it's pretty rare.

My issue was that I was _regenerating_ entities, and composer had a cache of the old entity files, which was what was causing the problem. I scoured the codebase for any reference to the file that couldn't be loaded, the following fixed it for me:

[code]

I'm pretty sure that

[2020-11-07 23:59] #1186 closed

[2020-11-08 02:13] bigfoot90 opened #1246 "Allow for auto register Types"
With https://github.com/thunderer/Platenum we can use Enums in php, it also provide a Doctrine custom type witch maps to native `ENUM` mysql type.

I'm asking for the ability to automatically discovery and register custom types, as we are already doing for the entity mappings in our `doctrine.yaml` configuration files where we tell into which directories to look for.

[2020-11-08 14:19] ostrolucky commented on #1246
Difference here is that discovery of entities in a namespace is handled by ORM, bundle just passes it over.

Considering types are not services, more appropriate place to ask for this feature would be DBAL. But if anyone wants to give this a try here, I'm not totally against that.

[2020-11-08 23:12] planim opened #1247 "Using DoctrineDataCollector with EntityManagerDecorator fails"
version: 2.2.x
symfony environment: DEV or TEST with profiler enabled

This assert fails when I use custom EntityManagerDecorator:

https://github.com/doctrine/DoctrineBundle/blob/2aacd8380030fb2497a896fe33aaa5b1052feccc/DataCollector/DoctrineDataCollector.php#L67

After changing to:

`assert($em instanceof EntityManagerInterface);`

everything seems to be ok.

[2020-11-09 10:54] pkly commented on #1247
This applies to all spots in the bundle which use assert.
Which includes data collection and command helper, possibly more.

[2020-11-09 11:18] ostrolucky commented on #1247
Easily solvable by disabling assertions.

[2020-11-09 11:28] stof commented on #1247
I think these assertions should be using EntityManagerInterface.

@ostrolucky this is not really a solution but only a workaround, as it disables also assertions in the project code (you cannot disable them per file). Wrong assertions in the code should be considered as bugs.

[2020-11-09 11:38] ostrolucky commented on #1247
As you can see via a label I added, this is acknowledged. I'm just downplaying seriousness of this. Assertions can be easily disabled. And most certainly should be disabled on production already.

[2020-11-09 11:48] stof commented on #1247
@ostrolucky the data collector is used in debug mode only. So this would force people to disable assertions in their dev setups too.

We should probably start fixing the known ones actually. If they need to disable assertions because of a known issue, they won't discover issues elsewhere in the code...

[2020-11-09 11:54] ostrolucky commented on #1247
They don't have to disable assertions, they are also free to fix the assertions and open to PR. Disabling assertions is quick, easy workaround, not an actual fix as you said.

[2020-11-09 13:30] pkly commented on #1247
Well, 2 assertion failures. One mentioned and one in the command helper. I'll make a pr later today.

[2020-11-09 17:59] ostrolucky commented on #1247
Fix available at https://github.com/doctrine/DoctrineBundle/issues/1247. We would appreciate people to test.

[2020-11-09 21:33] planim commented on #1247
Problem solved in all my cases in https://github.com/doctrine/DoctrineBundle/pull/1248/commits/300ff15827454f90bb02bad4a454069183a0e24a

[2020-11-10 13:53] PierrickMartos opened #1249 "EntityListener not called since 2.2.0 under prod env only"
Hello,

Since the release of `doctrine-bundle:2.2.0`, we are facing a strange issue with our EntityListeners **not called only when symfony run under prod env**. Note, It works normally on `dev` and `test` env.

To give you more context, our EntityListener is registered on a MappedSuperClasss and not directly on the final Entity class. But we never had an issue with this before the 2.2.0 release.

[2020-11-10 14:53] ostrolucky commented on #1249
This might very well be relevant https://github.com/doctrine/DoctrineBundle/pull/1196. Can you check if reverting those changes fixes your issue?

[2020-11-10 14:59] evertharmeling opened #1250 "DoctrineDataCollector errors when second level cache logging is disabled"
Version: 2.2.x

I get the following error:

[code]

Introduced with https://github.com/doctrine/DoctrineBundle/commit/50c53bef10617dc3c3e8e279f3be6b4e38abc8f6

This is my current configuration: `doctrine.yaml`
[code]

It looks like the `assert` statement isn't correct as when you have logging disabled, this would bypass the following configuration in https://github.com/doctrine/DoctrineBundle/blob

[2020-11-10 15:11] stephanvierkant opened #1251 "Can't clear metadata with DoctrineBundle 2.2.0 (prod)"
As of DoctrineBundle 2.2, I get an error message when running `bin/console doctrine:cache:clear-metadata` in `prod` environment. Must be related to #1196, but I don't know what's going wrong, since the error message isn't very helpfull:

The problem is that `\Symfony\Component\Cache\Adapter\PhpArrayAdapter::save` returns false, but I don't understand why.

[2020-11-10 16:02] stof commented on #1250
I think that this was because the old phpdoc was wrong about the type, saying it was `CacheLoggerChain` while the actual type was `CacheLoggerChain|null` at least

[2020-11-10 16:39] PierrickMartos commented on #1249
Hi @ostrolucky , i confirm, with reverting the two commits it works.

Here is the repository with the revert commits: https://github.com/Software-For-Asset-Management/DoctrineBundle/tree/master

[2020-11-10 17:22] petewalker opened #1252 "MasterSlaveConnection with driverOptions now broken outside of create/drop commands"
Follow-up from #1230

The fix in #1240 has allowed `doctrine:database:create` and `doctrine:database:drop` to work, but it's broken pretty much everything else in **v1.12.11**

The change in the above PR moves the `driverOptions` from the root of the connection params array into `master` (if you're using `MasterSlaveConnection`.

This is fine in the create/drop commands, because they manipulate th

[2020-11-10 17:39] ostrolucky commented on #1249
Reproducer would be more useful. I'm unable to reproduce the issue. Tried with 2.2.0, under prod, with prePersist, with `@ORM\MappedSuperclass`, without `@ORM\EntityListeners`. Listener is triggered every time.

[2020-11-10 18:02] ostrolucky commented on #1251
Cannot reproduce :/

[code]

[2020-11-10 18:05] ostrolucky commented on #1250
Can you try if https://github.com/doctrine/DoctrineBundle/pull/1248 fixes the problem?

[2020-11-10 18:05] zubov-ruslan commented on #1249
Have the same issue with 2.2.0, with postPersist event.
For reproduce just needed run cache warm up:
`bin/console cache:warmup --env=prod --no-debug`

![image](https://user-images.githubusercontent.com/3540362/98713232-002acd80-2390-11eb-98d2-a5de8339c0f0.png)

[2020-11-10 18:15] ostrolucky commented on #1249
Indeed, I've reproduced this now

[2020-11-10 18:19] ostrolucky commented on #1251
Alright to reproduce this cache warmup needs to be run too

[2020-11-10 19:33] dmaicher commented on #1249
@zubov-ruslan how exactly did you produce this diff in the screenshot? So in one `default_metadata.php` file the `entitylisteners` are present and in the other one not?

So far I can reproduce the missing case. But I cannot get it to show `entitylisteners` with 2.2.0 on my project

[2020-11-10 20:24] #1252 closed

[2020-11-10 21:30] zubov-ruslan commented on #1249
@dmaicher it happens when you run `bin/console cache:warmup --env=prod --no-debug` for the second time

[2020-11-10 22:12] ostrolucky commented on #1251
We decided to rollback the change which caused this issue. We released 2.2.1 which should fix your issue.

[2020-11-10 22:12] #1251 closed

[2020-11-10 22:12] ostrolucky commented on #1249
We decided to rollback the change which caused this issue. We released 2.2.1 which should fix your issue.

[2020-11-10 22:12] #1249 closed

[2020-11-10 22:12] ostrolucky commented on #1247
Fixed in 2.2.1

[2020-11-10 22:12] #1247 closed

[2020-11-10 22:12] ostrolucky commented on #1250
Fixed in 2.2.1

[2020-11-11 10:29] evertharmeling commented on #1250
Unfortunately, that does not solve it...

Because `$cacheConfiguration` is not `null` it's an instance of `Doctrine\ORM\Cache\CacheConfiguration` :)

Following line works
[code]

[2020-11-11 10:51] ostrolucky commented on #1250
I don't understand, which assertion is failing now?

[2020-11-11 10:58] evertharmeling commented on #1250
Sorry, I'll try to be more exact, what caused the error originally was:
[code]
Because `$cacheLoggerChain` can be `CacheLoggerChain|null`

The change in https://github.com/doctrine/DoctrineBundle/pull/1248 was (also errored):
[code]
Probably the variable `$cacheConfiguration` was mistaken with `$cacheLoggerChain`

Proposed change would be:
[code]

See https://github.com/doctrine/DoctrineBundle/blo

[2020-11-11 11:03] ostrolucky commented on #1250
🤦 I see

[2020-11-11 11:07] ostrolucky commented on #1250
Fix was pushed in 2.2.x branch, will be fixed with next release

[2020-11-11 11:07] evertharmeling commented on #1250
Thanks!

[2020-11-11 11:09] #1250 closed

[2020-11-12 00:17] bigfoot90 commented on #1246
U're right, I'm closing this for the moment.

[2020-11-12 08:24] ostrolucky commented on #1246
Actually, I was looking into this a bit and it should be possible to make types to be services. Then we would be able to tag these and inject everything tagged as such into dbal.

[2020-11-12 10:21] prengerjarno opened #1257 "Console commands prefer 'master' over ' primary' when using Slaves"
Following #1215 and doctrine/dbal#4295, the console commands now support the new 'primary' config while the MasterSlaveConnection also has BC support for 'master'. This now leads to the console commands using the 'master' config which is missing the driver option.

I think it can simple prefer the 'primary' config.

[2020-11-12 11:31] ostrolucky commented on #1257
This looks like same issue as here https://github.com/doctrine/DoctrineBundle/issues/1252

What version are you using?

[2020-11-12 12:41] prengerjarno commented on #1257
@ostrolucky I thought that at first as well, but after the fix in #1252 i still am missing the 'driver' param when using the create and drop commands, which results in not being able to create the connection. With the PrimaryReadReplicaConnection this is explicitly added to the primary/replica params.

I am using 1.12.12

[2020-11-12 14:51] ossinkine commented on #1249
@dmaicher Did you be able to reproduce?
@zubov-ruslan I can't reproduce even after run cache warmup multiple times. Do you do something between two calls of cache warmup? What is your `metadata_cache_driver` configuration? Do you use one or several entity managers?

[2020-11-12 14:57] ossinkine commented on #1251
@stephanvierkant Since we started using PhpArray cache adapter and it stored in opcache we can't clear metadata cache the same as using for example APCu cache. Therefore `PhpArrayAdapter::save` returns `false`.

[2020-11-12 15:30] ostrolucky commented on #1249
Crucial part for reproducing is not defining `@ORM\EntityListeners`, listener needs to be solely defined via service definition only.

[2020-11-12 15:50] ossinkine commented on #1249
@ostrolucky I've changed the listener definition from annotations to services, but everything still works. Just difference is a new service listener appears in the container.

[2020-11-12 15:53] ostrolucky commented on #1249
bug is only in prod mode, with warmed up cache, since that's where feature works

[2020-11-12 17:26] ossinkine commented on #1249
I've reproduced this. When entity listeners declared using services config they are added to metadata using event manager in `AttachEntityListenersListener`. When we warming up the php array cache we creating a clear `ClassMetadataFactory` with no event listeners. Using `ClassMetadataFactory` from container should fix this, I'll try to create a fix.

[2020-11-12 17:30] ostrolucky commented on #1251
We shouldn't ship it if it breaks cache clearing though, no matter what internal details prevent it. I think wiping the cache might be important for users.

[2020-11-12 18:24] ossinkine commented on #1249
Since `AttachEntityListenersListener` [attach listener only once](https://github.com/doctrine/orm/blob/v2.7.3/lib/Doctrine/ORM/Tools/AttachEntityListenersListener.php#L77) the best solution I see is to set the highest priority to `DoctrineMetadataCacheWarmer`.
@PierrickMartos @zubov-ruslan Could you please check this solution, please checkout to 2.2.0 and change [this line](https://github.com/doct

[2020-11-12 18:35] ossinkine commented on #1251
@ostrolucky Actually clearing matadata cache already has some restrictions, not every cache adapter can clear it: https://github.com/doctrine/orm/blob/2.7/lib/Doctrine/ORM/Tools/Console/Command/ClearCache/MetadataCommand.php#L84-L90
Metadata on the production environment should not be changed as well as all other code, so IMO clearing metadata cache does not make sence.
Since we deprecated `metada

[2020-11-12 18:44] stephanvierkant commented on #1251
I haven't checked if it is necessary, but it is part of my composer post update/install script. Maybe it's legacy code, since the project started with Symfony 2.x.

[2020-11-12 18:52] ostrolucky commented on #1251
Yeah deprecating the command would be acceptable I think

[2020-11-15 13:21] ostrolucky commented on #1249
I would really suggest to give us a feedback and try the suggested changes if you don't want us to break your application again in next release.

[2020-11-15 23:07] greg0ire opened #1262 "Call to undefined method Doctrine\DBAL\Logging\LoggerChain::addLogger() with DBAL 3"
We advertise compatibility with `doctrine/dbal` 3, but still call that method, which was removed in favor of calling the constructor here:

https://github.com/doctrine/DoctrineBundle/blob/f5a5a3dd1351818080b609b544608b472b07029f/Resources/config/dbal.xml#L27

and here:

https://github.com/doctrine/DoctrineBundle/blob/5a94ec5c9081ddf10061b95e0c140dc260d6b6d3/DependencyInjection/DoctrineExtension.ph

[2020-11-16 08:04] PierrickMartos commented on #1249
I try to find a moment to reproduce it in coming days

[2020-11-16 17:56] greg0ire opened #1264 "Attempted to load class "ImportCommand" from namespace "Doctrine\DBAL\Tools\Console\Command" with DBAL 3"
After fixing #1262 , I'm getting this, I suppose there is more work to be done for DBAL 3 compatibility.

[code]

`ImportCommand` is deprecated with `@deprecated Use a database client application instead.`, not sure how we should handle this in the bundle…

[2020-11-16 18:02] stof commented on #1264
we should not register the command when using DBAL 3.

and we should make sure that DBAL 2 displays a warning in the CLI when using this command so that the deprecation warning is reported to people using the command.

[2020-11-16 18:06] PierrickMartos commented on #1249
Hi @ossinkine i've made some tests, i confirm that it **doesnt work** when changing `->addTag('kernel.cache_warmer');` to `->addTag('kernel.cache_warmer', ['priority' => 1000]);`

[2020-11-17 07:59] greg0ire commented on #1264
Ok, I just pushed a new commit to #1263 that addresses that part. The other part is minor and should go in a subsequent PR.

[2020-11-17 14:33] stof commented on #1264
plus it should be addressed in DBAL, not in the bundle :smile:

[2020-11-17 20:10] greg0ire commented on #1264
Maybe yeah, but… it's already done, has been like that for several months: https://github.com/doctrine/DoctrineBundle/pull/1184 :stuck_out_tongue:

[2020-11-17 20:16] stof commented on #1264
I talked about showing a warning to **people running the command**, which is not the same than triggering the deprecation reporting in the code.

[2020-11-17 20:17] greg0ire commented on #1264
Oh right ok, my bad 👍

[2020-11-20 14:37] paulhagen opened #1265 "Warning: Invalid argument supplied for foreach()"
I ran into this issue while trying to create a migration from an entity.
The attribute causing the error (a Many-To-One, Unidirectional) on doctrine:schema:validate
[code]
The error

<details><summary>The exception</summary>
<pre>
Mapping
-------

In CachedReader.php line 107:

  [ErrorException]
  Warning: Invalid argument supplied for foreach()

Exception trace:
  at /var/www/html/vendor/doctrin

[2020-11-20 14:42] stof commented on #1265
which attribute are you talking about ?

[2020-11-20 14:49] paulhagen commented on #1265
<details><summary>Full entity</summary><pre>
/**
     * @ORM\Id
     * @ORM\GeneratedValue
     * @ORM\Column(type="integer", name="id")
     */
    private int $id;

    /**
     * @ORM\ManyToOne(targetEntity="Druckerei")
     * @ORM\JoinColumn(name="druckerei_id", referencedColumnName="id")
     */
    private Druckerei $druckerei;

    /**
     * @ORM\ManyToMany(targetEntity="Sujet")
     * @OR

[2020-11-20 15:43] ostrolucky commented on #1265
I'm sorry about there isn't anything in your post which would indicate this would be a problem in doctrine-bundle. Moving to ORM.

[2020-11-20 15:44] #1257 closed

[2020-11-20 15:44] #1264 closed

[2020-11-20 15:44] #1262 closed

[2020-11-25 15:22] RealJTG opened #1266 "Symfony profiler - Doctrine panel - "Explain query" broken"
Explain feature on Doctrine debug panel panel seems to be broken

![Selection_070](https://user-images.githubusercontent.com/930399/100246376-b9b5a100-2f41-11eb-8c1c-2be3aeaa6c75.png)

GET /_profiler/be783a?panel=db&page=explain&connection=test&query=3
Trace:
[code]

Version:
[code]

[2020-11-25 15:28] stof commented on #1266
Looks like the typehint added on `explainSQLServerPlatform` for `$query` is wrong. It has been typehinted as `string` in DoctrineBundle 2, while it is an `array` (like for the explain methods of other platforms)

[2020-11-25 15:40] RealJTG commented on #1266
Yep, broken here https://github.com/doctrine/DoctrineBundle/commit/50c53bef10617dc3c3e8e279f3be6b4e38abc8f6
I'll send PR.

[2020-11-25 17:25] ostrolucky commented on #1266
Will be fixed in 2.2.2

[2020-11-25 17:25] #1266 closed

[2020-11-29 15:37] egonolieux opened #1268 "Explain query results in "An error occurred while loading the query explanation.""
This is using PHP 7.4.12, Symfony 5.1.9, Doctrine bundle 2.2.1 and MySQL Community Server 8.0.22.

When looking in the logs, the following error can be seen:

[code]

Clearing the cache both manually and by command does not resolve the issue. I also tried removing the composer.lock file to force all new dependencies to be downloaded.

[2020-11-29 15:43] ostrolucky commented on #1268
It's already fixed in https://github.com/doctrine/DoctrineBundle/pull/1267

[2020-12-02 01:29] #1268 closed

[2020-12-05 15:12] stof commented on #627
this is **not** a DBAL problem. https://github.com/doctrine/DoctrineBundle/blob/85460b85edd8f61a16ad311e7ffc5d255d3c937c/Twig/DoctrineExtension.php#L261-L263 does not ask DBAL how to represent boolean values in SQL when replacing parameters.

[2020-12-05 20:24] ostrolucky commented on #627
It is, as DBAL does not provide correct API for getting this information.

[2020-12-07 11:37] stof commented on #627
`AbstractPlatform::convertBooleans` seems to be the API we need, actually.

[2020-12-07 11:41] ostrolucky commented on #627
Yes, but it doesn't work. See referenced DBAL issue for more info.

[2020-12-07 11:53] stof commented on #627
In the referenced DBAL issue, you try to use `BooleanType::convertToDatabaseValue` which uses `abstractPlatform::convertBooleansToDatabaseValue`, which is the API suited to perform the necessary conversion for parameter binding. This is **not** the API I suggest to use here when writing SQL rather than binding a parameter (PDO still expect numbers for boolean parameters even on Postgresql)

[2020-12-07 11:54] ostrolucky commented on #627
Could you respond in a referenced issue? We are going offtopic here.

[2020-12-07 12:01] ostrolucky commented on #627
If you think issue I created in DBAL is invalid, please respond there instead.

[2020-12-08 08:15] dorthrithil commented on #673
My solution was to just start my database server. -___- Really confusing error message for such a simple problem.

[2020-12-12 17:25] jordyno opened #1270 "Deprecation with Symphony 5.1.0 -> NodeDefinition::setDeprecated() requires 3 arguments"
Since symfony/config 5.1: The signature of method "Symfony\Component\Config\Definition\Builder\NodeDefinition::setDeprecated()" requires 3 arguments: "string $package, string $version, string $message", not defining them is deprecated.

{▼
  \vendor\symfony\config\Definition\Builder\NodeDefinition.php:176 {▼
    Symfony\Component\Config\Definition\Builder\NodeDefinition->setDeprecated() …
    › if

[2020-12-14 11:06] stof commented on #1270
which version of the bundle are you using ?

[2020-12-14 20:38] ostrolucky commented on #1270
You are using old version, please upgrade

[2020-12-14 20:38] #1270 closed

[2020-12-16 22:38] ostrolucky commented on #627
So indeed on second look, this doesn't look like DBAL problem, but doctrine bridge problem. We never get booleans here actually, [doctrine bridge changes that to database value](https://github.com/symfony/symfony/blob/75323bd68d2c5800f66d44cd20db1daf879d4811/src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php#L187) (`1`/`0`). Fix needs to go in doctrine bridge.

[2020-12-16 22:42] #627 closed

[2020-12-17 10:07] temuraru commented on #1197
Off-topic: Thank you both (greg0ire/trickeyone) for showing this kind of fair-play and for calming a heated arguments' thread - it's so uncommon and nice, that it ~blew my mind! (it shouldn't have, because this kind of behavior should be the norm, but unfortunately, it isn't - either on Github or Reddit or HN or wherever...)

[2020-12-21 10:59] dFayet opened #1271 "Missing argument for doctrine.query_sql_command definition"
Hello,

As of doctrine/dbal 3.0, the Doctrine's command `RunSqlCommand` has a mandatory `ConnectionProvider` parameter, but `RunSqlDoctrineCommand` does not define it.

I'm not calling the command directly, but the Symfony container file built is not valid.

Adding the [argument](https://github.com/doctrine/DoctrineBundle/blob/95c9daff56c0eba9a8df1838c46a63a52735dde0/Resources/config/dbal.xml#L106

[2020-12-21 11:36] ostrolucky commented on #1271
Yes. And link given is not to a proxy a command. `RunSqlDoctrineCommand` is deprecated, check readme notes.

[2020-12-21 11:39] dFayet commented on #1271
Yes, I know it is deprecated, but the service `RunSqlDoctrineCommand`still exists in Symfony's container, despite I'm not using it.
I see the error when I clear cache, and psalm hangs on it.

[2020-12-21 13:13] dFayet commented on #1271
Yes, I know it has been deprecated, but I do not use the proxy command.
Symfony is building the container with it, because it is defined as a service.

That leads to warnings on cache:clear command, and PHPStan hanging itself because of the invalid definition

[2020-12-21 13:25] ostrolucky commented on #1271
What warning? Please post the message and stack trace

[2020-12-21 13:40] dFayet commented on #1271
For both cache:clear and PHPStan, I have the error `  Too few arguments to function Doctrine\DBAL\Tools\Console\Command\RunSqlCommand::__construct(), 0 passed in /app/var/cache/test/ContainerOGNINjX/getDoctrine_QuerySqlCommandService.php on line 24 and exactly
   1 expected
                `

If I look in the given file, at the line 24 I have `$container->privates['doctrine.query_sql_command'] = $

[2020-12-21 16:10] #1271 closed

[2021-01-04 08:15] TheHett opened #1274 "Transaction and their propagation management"
The Symfony now uses one global entiry manager (or Document Manager for DoctrineODM, the essence is the same).
It leads to the troubles when we deal with long-lived demons (console applications). For excample we may want to clear UoW in some service, but this will affect other services. The application have one global registry and that's not good.

In the Spring Framework this problem is solved by

[2021-01-04 09:31] stof commented on #1274
This is not something that can be added in DoctrineBundle itself, which is only about configuring the DBAL and ORM projects in a Symfony context. We cannot add this concept without support in the ORM.

[2021-01-04 09:37] ostrolucky commented on #1274
DBAL 2.11 automatically handles lost connections https://github.com/doctrine/dbal/pull/4119, what other issues with long lived demons you have? Anyways, as @stof pointed out, this would need to be added to dbal/orm.

[2021-01-04 10:42] TheHett commented on #1274
@ostrolucky no, that's not what I was talking about

@stof I suspect that this is not the level of doctrine. This is only concept how we should use Document Manager (more precisely, several DM's).

Сan anyone tell me which component should be responsible for this?

[2021-01-04 16:21] ostrolucky commented on #1274
It's not clear what are you trying to do. You can use multiple entity managers without issues already. And spring documentation is not very clear either, you should do the work and explain what are you asking here better.

[2021-01-04 16:31] TheHett commented on #1274
@ostrolucky the repositories are injected by higher layer and it do not offer a choice which DM should be used.
In default configuration provided by `DoctrineBundle` uses one global DM, is not it so?

Doctrine made in the likeness JPA, but without transaction propagation management ability. Are you used original JPA?
I'm trying to understand why no one needs it.

[2021-01-04 16:47] ostrolucky commented on #1274
Keyword here is _default_. You specify your entity managers in your doctrine.yaml config and this configuration includes which entity is managed by which entity manager.

No, I didn't use it and I don't know what is transaction propagation management.

[2021-01-05 09:27] TheHett commented on #1274
@ostrolucky
Sorry, but I'm afraid you don't have the competence to discuss this. You can close the ticket if there is no one here who understands this.

[2021-01-05 09:59] ostrolucky commented on #1274
Since we are not smart enough to understand your requirements and you are not willing to explain them better, feel free to open the PR with your changes. In the meanwhile, I'm indeed closing this issue.

[2021-01-05 09:59] #1274 closed, assigned to nobody

[2021-01-13 12:55] elfin-sbreuers opened #1276 "Enabling foreign key constraints in sqlite database breaks `doctrine:schema:drop`"
Hello,

apparently `doctrine:schema:drop` fails in sqlite database if foreign key constraints are enabled. In sqlite databases they are disabled by default. We enable it via a subscriber on the `DBAL\Events::postConnect` events with

[code]
For databases that have foreign key constraints between tables this does not allow to execute a

[code]
If foo is linked with a foreign key constraint to anoth

[2021-01-14 06:12] Mecanik opened #1277 "DBAL PHP 8.0 problem"
I've been trying to work around this, but I hit a dead end. The error is reported on PHP 8:

`Compile Error: Declaration of Doctrine\\DBAL\\Driver\\PDOConnection::query() must be compatible with PDO::query(string $query, ?int $fetchMode = null, mixed ...$fetchModeArgs)`

One can always edit the code in the file but... is there another "fix" ?

Thanks

[2021-01-14 06:15] Mecanik commented on #1277
Forgot to mention, this happens when you don't specify server_version in doctrine.yaml and using mysql.

[2021-01-14 07:21] ostrolucky commented on #1277
Update doctrine/dbal. For future, please report problem in https://github.com/doctrine/dbal

[2021-01-14 07:21] #1277 closed, assigned to nobody

[2021-01-15 11:42] raymond10 opened #1278 "OCI8 - ORA-24415: Missing or null username"
Hi,

I am trying to use oracle database in my symfony 5.2 apps but unable to use it, I always have **ORA-24415: Missing or null username**

Here is an example of my .env
`DATABASE_URL="oci8://${USERNAME}:${DATABASE_PASSWORD}@localhost:1234/${DBNAME}"`

In my doctrine .yaml

`doctrine:
    dbal:
        password: '%env(DATABASE_PASSWORD)%'
        user: '%env(resolve:USERNAME)%'
        url: '%env(

[2021-01-15 11:58] ostrolucky commented on #1278
Unfortunately I have to close this, as this is not a support forum and this does not look like an actual issue in doctrine-bundle. Try to use some of our [community channels](https://www.doctrine-project.org/community/).

[2021-01-15 11:58] #1278 closed, assigned to nobody

[2021-01-25 08:45] rjd22 opened #1280 "Add ability to assign your own SQLLogger"
At this moment adding your own SQL logger is not possible because the set is fixed.

I've been working on the implementation of the Sentry Performance integration and after a lot of poking and prodding there just doesn't seem to be a way to do this nicely. So I had to come up with trickery by replacing the DbalLogger.

Would it be acceptable for you to give an PR that allows you to set your own cu

[2021-01-25 10:51] ste93cry commented on #1280
It looks like this is already supported when configuring the `logging` option of the connection.

https://github.com/doctrine/DoctrineBundle/blob/6a4b9589b9df7061cb2e9afa0c3d3c3d57611d38/DependencyInjection/DoctrineExtension.php#L154-L163

[2021-01-25 11:31] rjd22 commented on #1280
@ste93cry All these loggers are non configurable. And as soon as the loggerChain is made there isn't a possibility to add another logger because the addLogger method is deprecated. As you can see in the later version of the Extension:

https://github.com/doctrine/DoctrineBundle/blob/015fdd490074d4daa891e2d1df998dc35ba54924/DependencyInjection/DoctrineExtension.php#L162-L180

Another problem is for

[2021-01-25 14:06] enumag commented on #1271
Just ran into this as well. Could you make a release with this fix?

[2021-01-25 14:19] dFayet commented on #1271
@enumag you can do a workaround to make your project work:
[code]

[2021-01-25 14:40] ostrolucky commented on #1271
Release created

[2021-01-25 17:25] ste93cry commented on #1280
That should not be an issue, we can always edit the argument of the constructor in our compiler pass to add the logger, even though it would be nicer if the services were tagged so that we could use `!tagged` in the service definition

You're definitely right, I totally missed the wrapping `if ($connection['profiling']) {` statement. I see two ways to solve the issue: either we change the implemen

[2021-01-25 17:33] rjd22 commented on #1280
@ste93cry my recommendation would be to add an extra configuration option where you can set the loggers you want to attach when logging is enabled that contains the DbalLogger by default.

This will make it easy for the developer to attach an extra logger or replace the DbalLogger when enabling logging per connection.

[2021-01-25 17:40] ste93cry commented on #1246
I absolutely would like to see types as tagged services, this would enable a whole world of things that are now not possible, e.g. injecting custom services into the type to re-use logic, etc. Also, if we could get rid of that `static` singleton object that is the types registry it would be even cooler

[2021-01-26 17:19] ostrolucky commented on #1280
Yes, this is welcome. [I've put building blocks for this feature one year ago](https://github.com/doctrine/dbal/pull/3572) - with that I expected that providing this feature would be trivial. This is [not the first time we got such request ](https://github.com/doctrine/DoctrineBundle/issues/225), we even [had a PR adding this](https://github.com/doctrine/DoctrineBundle/pull/692), but was rejected

[2021-01-26 17:29] rjd22 commented on #1280
Do you mean with the tricky part, that you need the ability to assign a logger per connection?

Can't we solve this by adding an argument to the tag that contains the connection you want to add the logger to and else if it's empty to logger will be added to all connections?

Do I understand this correctly?

[2021-01-26 17:36] ostrolucky commented on #1280
Yes to all

[2021-01-27 10:10] bicpi opened #1282 "doctrine:query:sql broken after update from 2.2.2 to 2.2.3"
Hi,
our config defines multiple database connections and we have a script in our CI that uses

    $ bin/console doctrine:query:sql --connection $CON "SELECT 1"

to check the availability of the database before starting some tests.

This is working with version 2.2.2 but is broken with 2.2.3, we see this error:

[code]

It seems we cannot connect to the database any more (but it's there). Downgrad

[2021-01-27 11:01] ostrolucky commented on #1282
Hmm yeah this most likely breaks for users using dbal:>=2.11,<3.0

[2021-01-27 14:17] bicpi commented on #1282
Our `doctrine/dbal` version is 2.12.1 still, yes.

[2021-01-28 12:55] nicolas-grekas commented on #759
Implemented in #1284

[2021-01-30 09:20] ostrolucky commented on #1282
https://github.com/doctrine/DoctrineBundle/pull/1285

[2021-01-30 09:36] ostrolucky commented on #1280
Hmm actually we cannot drop DBAL < 2.10, because 2.10 requires PHP 7.2 :(

[2021-01-30 09:41] rjd22 commented on #1280
@ostrolucky Well I've read the PR that was not merged, I feel that to make it work nicely we need to rebuild the whole logger attach section. This is not a trivial amount of work.

I also wonder if you want to attach all loggers with a tag. So also the DbalLogger and profiler loggers. If so it might be unavoidable to attach the ChainLogger even if we only have one logger. I wonder if that is accep

[2021-01-30 09:49] ostrolucky commented on #1280
Yes, having ChainLogger always registered is acceptable. Also, I think we cannot use tagged_iterator in the end, because it would register all loggers no matter the connection :/ So I think we will have to go old fashioned way, where we iterate over tagged services in compiler pass ourselves - ther we can read connection attribute of the tag.

I think I agree. So perhaps attach `doctrine.dbal.logg

[2021-01-30 10:03] rjd22 commented on #1280
@ostrolucky The section where I just can't wrap my head around is the following section. It seems that the logger is attached to the logger chain but never used for default connections. But I feel that this is not possible:

https://github.com/doctrine/DoctrineBundle/blob/015fdd490074d4daa891e2d1df998dc35ba54924/DependencyInjection/DoctrineExtension.php#L88-L99

[2021-01-30 10:26] ostrolucky commented on #1280
Indeed, looks like logging doesn't work unless profiling is enabled. And code you quoted looks ineffective since https://github.com/doctrine/DoctrineBundle/commit/2c377e26e8f54590dbacd0e8d49c10666c354860#diff-afe5f060789287a8ad428a4b5df1ad844184f496ece0297e421f6b1fc442b5a4L146. Until then, ChildDefinition was used

[2021-01-30 10:35] ostrolucky commented on #1282
Fix merged to 2.2.x branch

[2021-01-30 10:35] #1282 closed, assigned to nobody

[2021-01-30 12:38] ostrolucky commented on #1224
Change unblocking this has been merged upstream, so this is ready to implement now

[2021-01-30 15:08] ostrolucky commented on #1136
This class is getting deprecated and shouldn't be relied on, see https://github.com/doctrine/DoctrineBundle/issues/1176

[2021-01-30 15:08] #1136 closed

[2021-02-03 21:44] theravel opened #1289 "schema_filter is no more respected in combination with symfony/doctrine-messenger"
I will re-iterate issue described in https://github.com/doctrine/DoctrineBundle/issues/1194

I am now not sure if issue belongs to doctrine bundle, so please redirect me if needed.

Have doctrine configuration (`doctrine.yaml`)
[code]

Have messenger configuration (`messenger.yaml`)
[code]

Execute `schema:update`, it does not return an error:
[code]

Execute `schema:validate`, it returns an error

[2021-02-03 22:27] theravel commented on #1289
Okay, if you ever face such issue, I have solved it:
I had `doctrine/doctrine-migrations-bundle` version `2.2.2`, after upgrade to `3.0.2` problem is gone.

[2021-02-03 22:57] #1289 closed, assigned to nobody

[2021-02-04 06:53] theravel commented on #1289
So how I solved it: validation doesn't complain if table exist, so we might consider this as a feature.
So I created transport through messenger commands to avoid validation issue

[2021-02-08 23:32] Lyro1 opened #1291 "Doctrine Migrations Migrate error : There is no active transaction"
I run my Symfony project with the following configuration:
- Symfony 5.1.10

Those are all the doctrine packages I use:
- doctrine/annotations 1.11.1
- doctrine/cache 1.10.2
- doctrine/collections 1.6.7
- doctrine/common 3.1.0
- doctrine/dbal 2.12.1
- doctrine/doctrine-bundle 2.2.2
- doctrine/doctrine-migrations-bundle 3.0.2
- doctrine/event-manager 1.1.1
- doctrine/inflector 2.0.3
- doctrine/inst

[2021-02-08 23:40] Lyro1 commented on #1291
Just found this is a duplicate of this error: https://github.com/doctrine/migrations/issues/1104

[2021-02-08 23:40] #1291 closed, assigned to nobody

[2021-02-11 10:54] Chepainais commented on #441
Dunno about previous releases, but for now  filter works, just maybe is not very intuitive.
You should fill with regexp, use table names in **camelcase** and skip delimiters ( / is used).
For example `--filter="^(CurrentTableName)$"` works just fine.

[2021-02-11 13:29] malutanpetronel opened #1292 "lint:twig"
Please check these:

 ERROR  in /application/vendor/doctrine/doctrine-bundle/Resources/views/Collector/db.html.twig (line 195)
      193
      194                                    <div>

      196                                    </div>
      197
  ERROR  in /application/vendor/doctrine/doctrine-bundle/Resources/views/Collector/db.html.twig (line 195)
      193
      194

[2021-02-11 13:43] stof commented on #1292
this function is registered by WebProfilerBundle, and this template is used only by the profiler integration. So there is no issue.

[2021-02-11 13:43] #1292 closed, assigned to nobody

[2021-02-13 18:17] Punk-UnDeaD opened #1293 "ServiceEntityRepository shoud be generic like it parent"
EntityRepository are generic, but ServiceEntityRepository not

[2021-02-13 18:38] ostrolucky commented on #1293
Already done https://github.com/doctrine/DoctrineBundle/blob/2.3.x/Repository/ServiceEntityRepository.php

[2021-02-13 18:38] #1293 closed, assigned to nobody

[2021-02-25 23:00] ostrolucky commented on #1280
@rjd22 any update? did you give up on this?

[2021-02-25 23:00] #1176 closed

[2021-02-26 06:37] rjd22 commented on #1280
@ostrolucky to be honest I have not been working on this. For Sentry we've gone a different way because we wanted access to more information. So we wrapped the connection.

Since I lost my personal need for this I don't think I will work on this anymore. So if someone else wants to pick this up it's okay to do so.

[2021-02-26 08:52] ste93cry commented on #1280
Since I believe that this improvement would be useful, I may be able to work on it in the next weeks. @ostrolucky feel free to take it if you want of course, otherwise I would leave this issue open for a bit more time. If for any reason should you start working on it, please let me know so that we don't do the work twice 😄

[2021-03-06 14:43] StasToken opened #1299 "There seems to be a bug when updating the object"
I encountered an obvious bug when Doctrine does not save the model value to the database when updating the object
use:
[code]

I use it in my symfony 5 project (I will give an abbreviated model just to reflect the whole point)

[code]

I want to update the field with time:

[code]

Note that 1 day was added to the DateTime object (Note that the object ID #1001 and #1001 is the same object)

[code]

[2021-03-07 10:15] beberlei opened #1300 "Integrate with doctrine/deprecations"
As we begin to trigger deprecations through https://github.com/doctrine/deprecations/ the bundle should depend on the package and configure it to use Symfony's way of doing `@trigger_error` by calling the following in `DoctrineBundle::boot`.

[code]
Maybe there should be a configuration flag to disable individual things.

[2021-03-07 22:43] ostrolucky commented on #1300
Where do you suggest to put this bootstrap code?

[2021-03-08 12:42] stof commented on #1300
I think the bundle should keep using the Symfony way directly for things happening at build time in the bundle (in the DI extension, the Configuration class and compiler passes) and should call `\Doctrine\Deprecations\Deprecation::enableWithSuppressedTriggerError();` in the `boot` method.
This will be the easiest way (hooks running before the build time happens won't run if the cache is not regene

[2021-03-08 21:40] ostrolucky commented on #1300
That's not a good situation if we need to use mixed approach. I consider this a blocker for implementing this library. It has a global state other libraries will fight for. Solution should come from `doctrine/deprecations` @beberlei.

[2021-03-08 22:01] nicolas-grekas commented on #1300
`doctrine/deprecations` looks like a terrible idea to me, @beberlei knows it already... Global state, options, which means choices to make, which means confusion and fighting with conflicting opinions...
I'd like its existence could be reconsidered in the first place. If it really needs to exist, most options should be removed to me, so that the use of global state can be really reduced.
E.g. ther

[2021-03-08 22:01] beberlei commented on #1300
How is this any different than what `@tirgger_error` does now? Error handling is a global problem in PHP, just have to live with it.

[2021-03-08 22:05] beberlei commented on #1300
@nicolas-grekas nobody has to make choices, it is designed to adopt the way deprecations work in the framework it nests into. Doctrine is not used by Symfony alone, and Doctrine does not have control over the error handler as Symfony does. I can understand your approach, but it does not work for Doctrine.

Symfony uses suppressed trigger errors, so we are configuring it that way.

A global logger

[2021-03-08 22:13] nicolas-grekas commented on #1300
As @ostrolucky points out, libs will push their opinion on this configuration. Are there really such a variety of use cases btw? The way Symfony does is the most proven one. Moving this to a broader standard practice would make a big service to the PHP community IMHO.

The lib doesn't have to handle some concerns: in terms of decoupling/API, it would be quite different, more flexible, IMHO again (

[2021-03-08 22:34] ostrolucky commented on #1300
Difference here is that if I see @trigger_error I know what's going to happen. But if I see Deprecation::trigger I don't, because what's going to happens depends on global state. That will mean in practice Deprecation::trigger call on very same file and line will have randomly different behaviour on various execution paths, because in one case library B might override this state with it's own flag

[2021-03-08 22:37] beberlei commented on #1300
Libs didn't push their opinion on the global error handler that Symfony configures so far. Its also global state, and there is no competition around it. @ostrolucky is stating a fear that for the error handler hasn't come true either. Why is this a problem for doctrine/deprecations but Symfony is ok to pick global trigger_error?

Libs have no reason to push an opinion, they just call `Deprecation:

[2021-03-08 22:39] nicolas-grekas commented on #1300
You should see the mess that Sentry is adding to error handling... :)
Here is an entry point with some links: https://github.com/getsentry/sentry-symfony/issues/421
I'm sure we can find more examples...

[2021-03-08 22:40] beberlei commented on #1300
@ostrolucky I am not sure where you know from what is going to happen if you call `@trigger_error` and how the current global error handler is not considered global state. You are arguing against `Deprecation::trigger` with *exactly* the same arguments that speak against using `trigger_error`.

[2021-03-08 22:41] beberlei commented on #1300
@nicolas-grekas yes, that is why Doctrine is not going to introduce its own error handler. Problem solved easily on our end, its your turn to hook into what we provide.

[2021-03-08 22:48] nicolas-grekas commented on #1300
I think that @ostrolucky is saying that we'd better save ourselves from having yet another global state to manage (I'd add also yet another class to load.)

Do we have any data that supports the idea that all this needs to be configurable?

I hope no lib will adopt this lib honestly...
Using `@trigger_error()` should be the only standard practice for runtime deprecations - it provides everything t

[2021-03-08 22:56] beberlei commented on #1300
I think Symfony made a mistake using `@tirgger_error` and our desire to follow a different approach makes that clearly visible.

trigger_error interfers with the global state and its known best practice that you should avoid that. It forces everyone to agree on exactly the same approach, when the requirements are clearly very different (see Sentry error handler).

Instead of owning up to the mista

[2021-03-08 23:04] nicolas-grekas commented on #1300
The approach used by Symfony has served the community since 2015 with great success so far, allowing ppl to migrate across 4 major versions. I would call this a proven way - not a mistake at all.
The reason it works seamlessly is that it makes userland deprecations follow the exact same path as native deprecations. Since native deprecations have to be handled anyway, following their codepath doesn

[2021-03-08 23:11] beberlei commented on #1300
I don't disagree that it works great for Symfony, as a Symfony user I like it very much.

but again Symfony as a framework can claim the error handler for itself, Doctrine is just a library between many and does not have this luxury. You keep ignoring this argument and argue from your POV, when we are not in the same place as Symfony.

Also PHP is notoriusly bad with deprecating things that change

[2021-03-08 23:14] ostrolucky commented on #1300
Let's put my fear in practical example. Let's say we call `Deprecation::enableWithSuppressedTriggerError()` in doctrine-bundle, but ORM (or other library) will want to use (and hence call) `Deprecation::enableWithTriggerError`. Would you be able to tell me now what's going to happen? Which flag wins? Because I wouldn't. I would have to first check which call in in which library is triggered first.

[2021-03-08 23:20] beberlei commented on #1300
There is also an argument for Symfony using its own deprecation function and having the Symfony error handler triggering that when E_DEPRECATED is handley. That is the other way around than it is now, but would properly decouple Symfony deprecations from global error handling and would leave the same possibility to handle and access PHP and other triggered deprecations for Symfony tooling

[2021-03-08 23:21] nicolas-grekas commented on #1300
I agree with this. The bundle should also add lines to help with preloading, similar to these:
https://github.com/symfony/symfony/blob/10d869d8357de8005a2a0feacb36020db1a63b7f/src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php#L73-L82

[2021-03-08 23:26] beberlei commented on #1300
@ostrolucky why would ORM or a library want to force one way? It uses doctrine/deprecations to leave this decision to the user. It is the reason this abstraction exists. A library would only use deprecations to benefit from the fact that it can leave this decision to user/app/framework

[2021-03-08 23:30] nicolas-grekas commented on #1300
Actually, all components are libraries. We've been designing the current deprecation-reporting system with this in mind: every apps/frameworks can integrate standalone Symfony components, but all apps/frameworks need to handle native deprecations. By following the same path as them, we provide interop.

I don't ignore it. I'm telling that there is no need for any abstraction (`doctrine/annotation`

[2021-03-08 23:52] ostrolucky commented on #1300
Additionally to what @nicolas-grekas mentioned, my thought process was that according instructions in OG post, the way we should start to use this library in doctrine-bundle is to put `Deprecation::enableWithSuppressedTriggerError();` in `DoctrineBundle::boot`. Maybe I unnecessarily jumped to conclusions, but that's why I thought we are not leaving this decision up to user/app/framework, but each

[2021-03-09 08:06] beberlei commented on #1300
@ostrolucky ah ok, we have a misunderstanding. We expect doctrine/deprecations to be initialized exactly once by framework or application.

My assumption was that DoctrineBundle is the central entry point for everything Doctrine in Symfony, so setting this behavior here would be the only point where any of the `enableWith*` methods are called during a Symfony request.

I was thinking with a config

[2021-03-09 11:46] ostrolucky commented on #1300
Ok well if intention here is that deprecation triggering behaviour is preserved with current one and no other dependencies are supposed to change these flags, I think we can start using it here. At this point it's just a wrapper for doing `@trigger_error` manually so it's even ok to use it during container compilation...

[2021-03-16 16:32] ostrolucky commented on #1300
Waiting on https://github.com/doctrine/deprecations/pull/24

[2021-03-16 16:47] stof commented on #1300
@beberlei DoctrineBundle is only the configuration point for DBAL and ORM. That's far from being all of Doctrine.

[2021-03-16 17:03] ostrolucky commented on #1300
I'm not really addressing coment from @stof, but I want to remind that integrating doctrine/deprecations in doctrine-bundle in suggested way would give us a chance to set deprecation mode of this library to symfony compatible one automatically. If we don't do that here, but let other Doctrine projects implement doctrine/deprecations, mode used by default would be incompatible with the one that Sym

[2021-03-17 08:41] salirzv opened #1302 "Doctrine unexpected remove behavior"
There is an OneToOne relation between my `User` class and a class called `UserPreChangePhone`.

Imagine we want to free `User` from it's already existing record, so I run  these commands:

then I bound `User` to it's new record like this:

even though `User` should be freed from it's previous record, I still get this error for duplicate entry:
`Integrity constraint violation: 1062 Duplicate entry

[2021-03-21 15:59] droutin opened #1303 "Custom order by for To Many ArrayCollection"
Hi,

How can I make custom order for ArrayCollection. I have sizes for product and I need to sort it by logic. So it will be XS -> XXL.
I have created findAll for ProductSize Entity, but that isn't it.
[code]

[code]

[2021-03-21 16:09] ostrolucky commented on #1303
Unfortunately I have to close this, as this is not a support forum and this is not an actual issue. Try to use some of our [community channels](https://www.doctrine-project.org/community/).

[2021-03-21 16:09] #1303 closed, assigned to nobody

[2021-03-21 16:14] droutin commented on #1303
ehm. Sorry but Symfony Doctrine Slack link is not working. I can't register

[2021-03-21 16:39] tarlepp commented on #1303
hmm, it's working for me - https://symfony-devs.slack.com/join/shared_invite/zt-o2tdcgkh-fmr7bHYBO5T5LpV9QqjSDg#/shared-invite/email

[2021-03-22 09:46] alexander-schranz opened #1305 "Gedmo Extension Tree not longer working with 2.3 Version"
I updated in our project only `doctrine/doctrine-bundle` from `2.2.3` to `2.3.0`.

After the update I'm getting the following when the `cache:clear` is called:

<details>
<summary>Stack Trace</summary>

[code]

</details>

I also tried the #1304 PR but seems like this does not fix it, still the same error.

Not sure yet which cause the issue, happy for every hint.

PS: After debugging it in more d

[2021-03-22 10:58] ostrolucky commented on #1305
Fix in https://github.com/doctrine/DoctrineBundle/pull/1304 doesn't work on it's own, but together with fix in makerbundle. Similarly, to utilize it, Gedmo would have to be updated. I don't recommend doing that at the moment though, #1304 has not been properly reviewed yet and will likely change.

[2021-03-22 11:12] alexander-schranz commented on #1305
@ostrolucky In our case there is no makerbundle installed. The `TreeListener` is part of the [gedmo doctrine extensions](https://github.com/doctrine-extensions/DoctrineExtensions) used over the [StofExtensionBundle](https://github.com/stof/StofDoctrineExtensionsBundle).

[2021-03-22 11:17] ostrolucky commented on #1305
That's why I didn't say makerbundle needs to be changed, but gedmo. Point being, fix doesn't work on its own, both sides need to be chanegd.

[2021-03-22 11:22] stof commented on #1305
The Gedmo extensions are doing some "magic" to build their own mapping driver to read from the same source than the doctrine mapping: https://github.com/doctrine-extensions/DoctrineExtensions/blob/7c0d5aeab0f840d2a18a18c3dc10b0117c597a42/src/Mapping/ExtensionMetadataFactory.php#L138
This is because it stores its own mapping in the doctrine mapping files (when using XML or Yaml) rather than in its

[2021-03-22 11:46] alexander-schranz commented on #1305
Thx for the fast responses here, really appricate this 🙏

@ostrolucky really sorry for my blindness did read the answer to fast 🙈
@stof I tried to checkotu the #1304 and tried to add a break at the `ExtensonMetadataFactory` but it seems like the `getDriver` is not called before the error appears. Any hint what else need to be adjusted then the `ExtensionMetadataFactory::getDriver` method?

[2021-03-22 11:49] stof commented on #1305
@alexander-schranz be careful about the caching layer. It might be the reason why `getDriver` is not called.

[2021-03-22 15:24] vtiertant opened #1307 "Unable to make:entity since update doctrine/doctrine-bundle (2.3.0)"
Hello,

After update my composer, doctrine-bundle is update to 2.3.0.

Now, when i try to

`php bin/console make:entity`

When i choose a Class name, the file is created but console immediately returns the following error :

`[ERROR] Only annotation mapping is supported by make:entity, but the <info>App\Entity\Test</info> class uses a
         different format. If you would like this command to ge

[2021-03-22 15:31] stof commented on #1307
`make:entity` is part of MakerBundle. And this is currently being fixed in https://github.com/symfony/maker-bundle/pull/844

[2021-03-22 15:31] #1307 closed, assigned to nobody

[2021-03-22 17:15] alexander-schranz commented on #1305
@stof I cleared the whole `var/cache` dir and also used the doctrine metadata clear command still the `ExtensionMetadataFactory::getDriver` method of was never called. Not sure if there is another place we need to have a look at, or there if another cache I did not keep in mind, my brain is little bit full today and needs now a break 🙈 . Would be great if somebody else could maybe give it a try to

[2021-03-23 10:15] francoispluchino opened #1308 "Metadata Factory in Entity Manager no longer uses the Resolve Target Entities with 2.3 Version"
After updating from version 2.2.4 to version 2.3.0, the Metadata Factory of the Entity Manager no longer uses the Resolve Target Entities to check whether the name of a class is present or not.

In Dev environment, this works correctly, on the other hand in Prod environment and only with version 2.3.0, none of the Object Managers find the requested class.

**Example:**

[code]

[code]

Given that

[2021-03-23 10:18] ostrolucky commented on #1308
@ossinkine can you please check if this is because of your changes in https://github.com/doctrine/DoctrineBundle/pull/1260?

[2021-03-24 06:16] ivanbogomoloff opened #1310 "DoctrineMetadataCacheWarmer must load metadata first, check priority of you warmers when updated from 2.2.4 -> 2.3.0"
Hello all.
I got this message when run `bin/console cache:clear` or `bin/console cache:warmup`.

Conditions:

I have symfony 5.2.4 project out box
Then i run `composer update` doctrine-bundle updated to 2.2.4 -> 2.3.0.

Then i got error.

**DoctrineMetadataCacheWarmer must load metadata first, check priority  of you warmers**

[2021-03-24 10:50] dmaicher commented on #1310
I cannot reproduce this on any of my projects. I also tested it on [`symfony-demo`](https://github.com/symfony/demo) and it works fine.

Can you provide a reproducer @ivanbogomoloff ?

[2021-03-24 12:11] Wirone opened #1311 "[DataCollector] Runnable query different than actually executed one"
**Description**
When using query builder with something like:
[code]
Doctrine data collector in Symfony profiler shows "runnable query" with `foo.values IN ('bar')` but actually database query contains `foo.values IN (0)` because of `Connection::PARAM_INT_ARRAY` param type. It is very misleading, because looking at the profiler you may think the query is correct (even though the result is not).

*

[2021-03-24 12:11] Wirone opened #1312 "[DataCollector] Runnable query different than actually executed one"
**Description**
When using query builder with something like:
[code]
Doctrine data collector in Symfony profiler shows "runnable query" with `foo.values IN ('bar')` but actually database query contains `foo.values IN (0)` because of `Connection::PARAM_INT_ARRAY` param type. It is very misleading, because looking at the profiler you may think the query is correct (even though the result is not).

*

[2021-03-24 16:50] dmaicher commented on #1308
I just tried this on one of my apps and I can confirm that there is something odd happening.

I tried this small php script on my Symfony 4.4 app:

[code]

and also adding a mapping via `resolve_target_entities`.

For me this works **only** on the first execution if there is no cache yet and it fails on the second execution with warmed up cache:

[code]

This fails on `dev` and `prod` env and also

[2021-03-24 17:11] dmaicher commented on #1308
Ah @francoispluchino actually `ClassMetadataFactory::hasMetadataFor` is not meant for checking if meta data could be loaded for the given className or not...

See phpdoc: https://github.com/doctrine/persistence/blob/2.1.x/lib/Doctrine/Persistence/Mapping/ClassMetadataFactory.php#L32

It returns `true` when the metadata was already loaded and always `false` otherwise.

[2021-03-24 17:17] ossinkine commented on #1308
@dmaicher I've reproduced the issue, just call `getAllMetadata` before `hasMetadataFor` in your example

[2021-03-24 17:19] stof commented on #1308
the right fix is not that. It is to use `isTransient` instead of `hasMetadataFor`

[2021-03-24 17:20] ostrolucky commented on #1308
Is this a doctrine-bundle bug, or not?

[2021-03-24 17:22] stof commented on #1308
the fact that `hasMetadataFor` does not do what its name suggest ? No. That's a WTF API in the ORM, but it behaves like the phpdoc says.

[2021-03-24 17:24] ostrolucky commented on #1308
Cool. Let's close this issue then?

[2021-03-24 17:28] ossinkine commented on #1308
Maybe using method `hasMetadataFor` in this case is incorrect, but the fact that method `hasMetadataFor` returns different values on the first call when the cache is warming up, and on the second one, when the cache is already warmed up, it is clearly an error

[2021-03-24 17:38] ostrolucky commented on #1305
Please report issue on https://github.com/doctrine-extensions/DoctrineExtensions instead

[2021-03-24 17:38] #1305 closed, assigned to nobody

[2021-03-24 17:42] dmaicher commented on #1308
@ossinkine indeed I can reproduce it like this

[code]

works fine on first execution without cache and fails afterwards on 2.3.0 when using `debug=false` (so new caching mechanism).

[2021-03-24 17:51] alexander-schranz commented on #1305
@ostrolucky Okay did create the issue there: https://github.com/doctrine-extensions/DoctrineExtensions/issues/2210

[2021-03-24 21:38] beberlei commented on #1312
@ostrolucky can you explain why you moved this here? Its clearly a but in the rendering of the debug toolbar.

[2021-03-24 21:44] ostrolucky commented on #1312
Indeed. Transferred back.

[2021-03-24 21:48] ostrolucky commented on #1312
I don't think this is a doctrine-bundle bug. All of these bugs come from DoctrineBridge, like explained in https://github.com/doctrine/DoctrineBundle/issues/627. DoctrineBridge transforms these parameters before sending them to us. Please report bug for Symfony folks.

[2021-03-25 10:51] Nyholm commented on #1312
Hey @ostrolucky, you are probably correct, but could you help me finding this bug?

The `db.html.twig` in the bundle is printing the query parameters with the twig function `doctrine_replace_query_parameters()`. The query parameters themselves are collected by the doctrine bridge.

Im not sure how we can guarantee that the value for "runnable query" is the exact same query that is executed.

[2021-03-25 10:58] Wirone commented on #1312
@ostrolucky @Nyholm Actually after some debugging I don't think it's DoctrineBridge's fault. Collector gets queries from `Doctrine\DBAL\Logging\SQLLogger` and does not know anything about binding types (there are only types used for converting between PHP and database values). It's Doctrine's `Doctrine\DBAL\Connection` that logs query and params' values, but it does it before binding typed values

[2021-03-25 11:03] Nyholm commented on #1312
Okey. Does that sound like a reasonable step forward for you, Gabriel?

If so, how would we do that?

[2021-03-25 21:53] dmaicher commented on #1308
@ossinkine actually my reproducer above was not quite correct as for the `dev` environment I was not using any persistent cache at all with DoctrineBundle 2.2.4 (even debug=0 was using `ArrayCache`).

So I tried this again using `prod` env which was using a `cache.system` based cache pool like in the [recipe](https://github.com/symfony/recipes/blob/master/doctrine/doctrine-bundle/1.12/config/packa

[2021-03-26 08:50] francoispluchino commented on #1308
@dmaicher

After a few tests, and without moving the environment into prod (therefore staying in a dev environment), it suffices to activate only the Doctrine metadata cache with the default configuration:

[code]

For the example, the Symfony cache configuration uses the Flex recipe, so the file cache (in `var/cache/dev/pools/*`).

Result:
- The first call: `hasMetadataFor('App\Model\FooInterface

[2021-03-26 08:52] ivanbogomoloff commented on #1310
No, i can't. It's magically gone.
But now It occurs only in project with a lot of code, but when i copy `composer.json` and try to create raw new project (_i mean out box is composer command create project_) it works fine.
Little notice, that error occurs only after rm -rf `var/cache/prod`   and when `APP_ENV=prod`

[2021-03-26 10:08] dmaicher commented on #1308
@francoispluchino and this also fails using DoctrineBundle 2.2.4, or? It should not make a difference if using 2.3.0 or 2.2.4 I believe.

[2021-03-26 21:19] cyberemissary opened #1314 "Unable to set custom shard manager"
Good Day,

In https://github.com/doctrine/DoctrineBundle/blob/70be9d41da1c75c613d79e9d3c604d179cd705b0/DependencyInjection/DoctrineExtension.php#L405 the `$options['shardManagerClass']` will always be empty because it gets `unset()` a few lines prior as it is not part of `$nonRewrittenKeys` array.

So there is no way to provide a custom shard manager class via configs as it just gets unset.

Is th

[2021-03-27 19:17] ostrolucky commented on #1314
Yeah it's most certainly a bug

[2021-03-27 19:59] ostrolucky commented on #1312
What step? Are you referring to following?

That part is in `Doctrine\DBAL\Connection::executeQuery`. There is nothing there for doctrine-bundle to do.

Even if we could do something in logger (like trying to expand parameters there), `DbalLogger` is in doctrine-bridge, so again nothing to do for doctrine-bundle.

[2021-03-27 22:38] beberlei commented on #1312
Changing the interface of SQLLogger is not really likely and very long term giveb that DBAL 3 is already out and DoctrineBundle still requires v2

[2021-03-28 00:36] ostrolucky commented on #1312
What interface change? `\Symfony\Bridge\Doctrine\Logger\DbalLogger` receives `$types` but is simply choosing not to do  anything with it,

[2021-03-29 09:28] Wirone commented on #1312
@ostrolucky Let's don't focus on proper repository for a moment and just think about possible solution - then issue can be moved. It was created here initially because at first look it seemed like a problem with rendering runnable query in profiler's collector, which is part of a bundle.

Personally I think it's OK that `DbalLogger` does not do anything with it. After another look at what logger r

[2021-03-29 09:48] jdelaune opened #1315 "Queries containing binary parts causes twig to crash in profiler due to UFT-8 errors"
When inspecting some queries where we have a where filter using binary data because the column is a ULID binary column we run into twig errors in the profiler.

`Uncaught PHP Exception Twig\Error\RuntimeError: "The string to escape is not a valid UTF-8 string." at /vendor/doctrine/doctrine-bundle/Resources/views/Collector/db.html.twig line 219`

and

`Uncaught PHP Exception Twig\Error\RuntimeError

[2021-03-29 10:04] ostrolucky commented on #1315
Ok and you believe this is a bug in doctrine-bundle how?

[2021-03-29 10:09] ostrolucky commented on #1312
This is my preference too. Should be simple change in DBAL and would fix it for non-symfony users too.

[2021-03-29 10:19] stof commented on #1312
I think doing this "normalization" before logging could be confusing, because it also alters the SQL in case of `CONNECTION::PARAM_*_ARRAY`.
My preferences goes into handling types properly in `doctrine_replace_query_parameters` to generate the right runnable query based on the full set of DBAL param features.

[2021-03-29 10:35] jdelaune commented on #1315
Because doctrine-bundle is using this filter? So I would suspect either the data we are passing it isn't encoded properly or we need to provide a specific encoding for it.

[2021-03-29 10:47] ostrolucky commented on #1312
Doing normalization before logging is confusing, because log will show something else than user passed in.
Doing normalization after logging is confusing, because log will not show what SQL query was actually executed.

This is catch22 and I guess only way out is to show/log both queries. Before and after normalization. Or choose one, not the other. I would prefer seeing real sql queries there.

[2021-03-29 10:49] ostrolucky commented on #1315
@nicolas-grekas could you check this please?

[2021-03-29 10:50] alexrozz commented on #1310
I have the same issue on cache:clear, doctrine:migrations:migrate and any other.
Could anybody explain the reason of this exception? What warmers must run before?
In `DoctrineMetadataCacheWarmer:47` there is a check if metadata exists, then crush. What the purpose, anybody knows?

[2021-03-29 11:49] dmaicher commented on #1310
In DoctrineMetadataCacheWarmer:47 there is a check if metadata exists, then crush. What the purpose, anybody knows?

@alexrozz

With DoctrineBundle 2.3.0 we introduced a new and faster caching mechanism for the Doctrine meta data. For this to work properly we have to ensure that `DoctrineMetadataCacheWarmer` is the first to actually load all meta data so the cache can be properly warmed up.

Are y

[2021-03-29 11:59] Wirone commented on #1312
Yeah, my comment was so long because thinking of it I saw pros and cons of each of the approaches.. And that "catch-22" was covered in paragraph about `Doctrine\DBAL\Logging\SQLLogger` where I proposed additional argument with "normalized" params (I think query is already final there, only params' values not). Alternatives can solve it too, but each of them have drawbacks.

As a developer, I prefe

[2021-03-29 14:27] nicolas-grekas commented on #1315
Can you please create a small reproducing app @jdelaune? Usually, VarDumper handles that, but apparently not every time. That'd help investigate the issue. Thanks in advance.

[2021-03-29 14:32] cyberemissary commented on #1314
Could you tell me which branch to target? I'll submit PR right away

[2021-03-29 15:03] ostrolucky commented on #1314
default one

[2021-03-29 17:27] cyberemissary commented on #1314
On a separate note I noticed this: https://github.com/doctrine/dbal/issues/3595
Any recommendations of what I could when upgrading to next doctrine that doesn't have native sharding support?
Are you by chance planning to add the support to this bundle maybe?

[2021-03-29 18:30] ostrolucky commented on #1314
I don't have recommendation as I don't use it. We don't plan to add support for it here, though.

[2021-03-30 09:24] jkabat commented on #1310
I'm facing the issue as well. In my project it has relation to "msgphp/msgphp" package. In my understanding problematic is the change of warmers priority introduced in https://github.com/doctrine/DoctrineBundle/pull/1260 - other packages may be bitten as well if they depend on specific priority value.

[2021-03-30 09:43] dmaicher commented on #1310
we did not change any priority of cache warmers :wink:  We introduced a new `DoctrineMetadataCacheWarmer` with a high priority of 1000.

Again: if someone can provide a reproducer I can re-open this and take a look.

[2021-03-30 12:21] jkabat commented on #1310
I have created a reproducer, but I think it is related with the library Im using (it processes/loads entity metadata and should probably be run before doctrine warmup step which is not true anymore as new warmer has priority 1000, while msgphp one only 100).

https://github.com/jkabat/doctrine-bundle-test

[code]

In my application setup I had better insight with cache:warmup command: http://prnts

[2021-03-30 13:08] #1314 closed, assigned to nobody

[2021-03-30 13:16] ostrolucky commented on #1312
We should cooperate with DBAL on this, please create issue there.

[2021-03-30 15:25] ossinkine commented on #1308
I've double checked this and agree with @dmaicher, I got the same  result, this behavior doesn't related to the new cache system and wasn't changed since 2.2.4.
Actually @stof already answered a week ago, please use `isTransient` instead of `hasMetadataFor`.

[2021-03-30 16:23] #1308 closed, assigned to ossinkine

[2021-03-30 18:52] ostrolucky commented on #1310
Reproducer doesn't work for me

[code]

[2021-03-31 23:31] ThibaultVlacich opened #1317 "Operation 'Doctrine\DBAL\Platforms\AbstractPlatform::getSequenceNextValSQL' is not supported by platform."
Since I upgraded to 2.3.0, I'm getting this error when I'm trying to persist an object on a MariaDB server.

[code]

Is throwing the following exception:

Seems fine on MySQL.

My config contains `override_url: true` and serverVersion is present in the database URL (`serverVersion=mariadb-10.5.9`)

[2021-04-01 07:16] ostrolucky commented on #1317
Doesn't seem doctrine-bundle problem. What else did you upgrade?

[2021-04-01 11:16] ThibaultVlacich commented on #1317
It also upgraded doctrine/dbal to 2.13.0 (from 2.12.1)

[2021-04-01 11:23] stof commented on #1317
@ostrolucky I'm quite sure that this is actually related to the `override_url` change in DoctrineBundle, which probably did not account for the fact that DBAL allows the URL query string to configure more options too

[2021-04-01 12:03] VincentLanglet opened #1318 "Weird SyntaxErrorException"
#### Current behaviour

Since fews days, I'm getting often the following exception in my production logs.
[code]

I don't know how to debug this and I start to thinking it's an error from the vendor, like the param where not passed.

For instance, I looked at another unrelated sentry error, and the message were
[code]

In the first exception there is no `with params [...]` part.

The last update I

[2021-04-01 12:37] ostrolucky commented on #1317
@ThibaultVlacich can you confirm if issue is fixed if you have `override_url: false`?

[2021-04-01 14:36] ThibaultVlacich commented on #1317
Ok, I did more testing, like upgrading packages one by one, and the issue appears when I upgrade doctine/orm from 2.8.1 to 2.8.2, so doctrine/orm seems to be the culprit.

[2021-04-01 21:20] ostrolucky commented on #1317
Thanks for confirming. No doctrine-bundle issue then.

[2021-04-01 21:25] ostrolucky commented on #1318
This has unlikely anything to do with doctrine-bundle, I can't see any changes that could affect this. Please provide reproducer or some other proof pointing out issue in doctrine-bundle.

[2021-04-01 21:38] ostrolucky commented on #1315
Well line where `|e('html_attr')` is located at gets [guaranteed string passed in](http://github.com/doctrine/DoctrineBundle/blob/70b5ed89a23c8961ba7ff73fda471eabd31ead7a/Twig/DoctrineExtension.php#L153-L153). So really, this looks something being wrong on your side and we would need reproducer.

[2021-04-02 09:20] VincentLanglet commented on #1318
I didn't succeed to create a reproducer currently...

The following stack trace is
[code]
Then
[code]
in `/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOStatement.php`

[code]
It really seems like the query is executed with  `(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)` instead of the real param.

I don't know if this is related to doctrine-bundle, another doctrine package, or something else.
It's rea

[2021-04-02 09:25] #1318 closed, assigned to nobody

[2021-04-02 10:45] jdelaune commented on #1315
Sorry had a busy week, here is an example project reproducing the issue: https://github.com/jdelaune/ulid-profiler-bug

Narrowed it down to the Doctrine SQL Filter causing the issue.

[2021-04-02 11:13] ostrolucky commented on #1315
But that example fails for me even before reaching doctrine profiler

[code]

And I observe same when I downgraded example to doctrine-bundle 2.2.*

[2021-04-02 13:00] jdelaune commented on #1315
I'm running MySQL looks like you are on PostgreSQL?

[code]

[2021-04-02 13:05] ostrolucky commented on #1315
I've used postgres because that's what you've set in your reproducer https://github.com/jdelaune/ulid-profiler-bug/blob/4c80e8a5da90e0d0cc489ca05f1101487da4d27a/.env#L27

Yep, I can confirm your issue with MySQL

[2021-04-02 13:11] jdelaune commented on #1315
Ah sorry, I just left whatever Symfony autogenerated and was using a `.env.local`. I assume Doctrine SQL Filters are meant to be used on MySQL or PostgreSQL so neither outcome is great. Unless PostgreSQL handles binary columns differently. But MySQL is just where I saw the issue.

[2021-04-02 20:11] ostrolucky commented on #335
Sorry folks not happenning, DBAL is removing this option https://github.com/doctrine/dbal/pull/3554.

[2021-04-02 20:11] #335 closed

[2021-04-05 13:01] ostrolucky opened #1320 ""Explain" with DBAL 2.13 and pdo_sqlsrv driver fails"
[code]

https://github.com/doctrine/DoctrineBundle/blob/4d347fa773b1791d3e8b505fe1512939ec3b7d5b/Controller/ProfilerController.php#L124-L125

[2021-04-05 13:22] #1320 closed, assigned to ostrolucky

[2021-04-12 13:58] ThibaultVlacich commented on #1317
@ostrolucky I did more testing, and I'm coming back to my initial founding, doctrine-bundle is the issue.

I re-did the upgrading of packages, one by one, and the issue appear when I upgrade doctrine-bundle to 2.13.0 (issue also present with 2.13.1).

Here's my git diff, showing that the only change is indeed doctrine-bundle.

[code]

Before: no issue, after: issue is present. This issue should be

[2021-04-12 14:28] ostrolucky commented on #1317
We don't know how to reproduce this, though. Can you please try reproducing this on eg. https://github.com/symfony/demo ?

It would also help if you bisected this to smaller chunk, eg. you skipped 2.2.4 so we don't know if issue is there or not

[2021-04-12 15:40] ostrolucky commented on #1312
Looks like this discussion is over, so we may as well close the issue

[2021-04-12 15:40] #1312 closed, assigned to nobody

[2021-04-14 10:52] ThibaultVlacich commented on #1317
Oh right, I totally missed 2.2.4. I just tested and no issue with 2.2.4.
It appears with 2.3.0.

I'll try to make a reproduction, but I already have a hard time reproducing it with my own project code, because I do not see the issue on my local machine, only on my production server. And I use the same Docker image for MariaDB on both so I'm not really sure.

Only thing I'm sure of, is that there's

[2021-04-14 10:58] ostrolucky commented on #1317
Use APP_ENV=prod on your local machine, that will help you with reproducing it

[2021-04-15 12:44] ThibaultVlacich commented on #1317
Ok, I think I found the source of the issue. It's the [changes made to the cache](https://github.com/doctrine/DoctrineBundle/commit/011cb9622788602505dc3e9f8e518428e9572aa9).

My DATABASE_URL is injected into my Docker image at runtime (via `-e` parameter on the `docker run` command). Which means that cache was already warmed up before it's available, and generated on default values. And since `ca

[2021-04-15 13:08] ostrolucky commented on #1317
@ossinkine what to do here? could you take a look?

[2021-04-15 13:10] stof commented on #1317
make sure that your config available during cache warmup defines the right driver and server version for the connection. These things are what are impacting the ORM metadata, so changing the DBAL platform at runtime will indeed break.

[2021-04-15 16:00] ThibaultVlacich commented on #1317
Basically my tests are:
1/ It's not working

2/
[code]
It's working (cache is not present).

3/ I'm making sure my config is correct
[code]
[code]
4/ I'm regenerating the cache with `php bin/console cache:clear`, and it's not working again.

Config is OK when the cache is created, but it's not working.

[2021-04-16 21:45] dlegatt opened #1325 "Charset passed via URL is overridden"
https://github.com/doctrine/DoctrineBundle/blob/e6a9c16d51a1f0399c7de0099a50cf06527a3ff4/ConnectionFactory.php#L87

Working with SQL Server and wanting to pass the charset through he URL configuration instead of modifying the doctrine.yaml file and I'm finding that this line is automatically overriding whatever charset option I pass.

Example:

In Symfony .env.local: `DATABASE_URL=sqlsrv://sa:pass

[2021-04-17 10:17] ostrolucky commented on #1325
Do you have `override_url` option enabled? Can you check if behaviour is same with either value?

[2021-04-17 12:52] dlegatt commented on #1325
I believe I did test changing that to true or false hd no effect. Debugging and watching the values of the Paramus array, any char set value that I pass via url is lost after this line.

[2021-04-17 13:15] ostrolucky commented on #1325
Just asking because that line you passed is guarded behind this condition https://github.com/doctrine/DoctrineBundle/blob/e6a9c16d51a1f0399c7de0099a50cf06527a3ff4/ConnectionFactory.php#L60

[2021-04-17 15:51] beberlei commented on #1312
@ostrolucky i don't think this is the responsibility of the DBAL, because converting the params based on the types could be an expensive operation that the DBAL has no interst in performing without knowing the information is actually used.

[2021-04-17 15:55] ostrolucky commented on #1312
DBAL already does conversion. Problem is it logs the query before conversion happens, which is what's causing the problem here.

[2021-04-17 18:48] dlegatt commented on #1325
I don't believe that option affects this, `$overriddenOptions` is an empty array.  I just made a new Symfony skeleton and only installed the ORM pack. Here is my `$params` after setting `DATABASE_URL` to `sqlsrv://db_user:db_password@127.0.0.1/db_name?charset=UTF-8`. This was right before line 60:

[code]

The `$params` array is correctly defined when `DriverManager::getConnection()` is called on

[2021-04-20 13:38] ruudk opened #1329 "Not setting doctrine.dbal.override_url to true is deprecated. True is the only value that will be supported in doctrine-bundle 3.0."
When upgrading to 2.3.1 I get this deprecation:
[code]

When I add:
[code]
I get
[code]

Adding it to the `connections` block doesn't solve the deprecation either:
[code]

This is introduced in https://github.com/doctrine/DoctrineBundle/pull/1290

[2021-04-20 13:40] ruudk commented on #1329
@jrushlow How to solve?

[2021-04-20 13:42] nicolas-grekas commented on #1329
See https://github.com/symfony/recipes/pull/900 and https://github.com/doctrine/DoctrineBundle/pull/1328

Closing as there is nothing to keep track of.

[2021-04-20 13:46] ruudk commented on #1329
Ok, so best to wait for another release? Because it's not possible to use 2.3.1 without having the deprecation?

[2021-04-20 13:48] nicolas-grekas commented on #1329
This removes the deprecation (as the message suggests):
[code]

[2021-04-20 13:52] ruudk commented on #1329
As I wrote in the OP, I get this error when I do that:
[code]

[2021-04-20 13:55] nicolas-grekas commented on #1329
Strange.

[2021-04-20 20:09] jrushlow commented on #1329
yes that is strange.. can you confirm that the config values set in `doctrine.yaml` file are actually being used / parsed by Symfony?

e.g.
![image](https://user-images.githubusercontent.com/40327885/115457616-ca1d2f80-a1f2-11eb-9147-0d7b529cc45e.png)

[2021-04-21 13:04] Nek- opened #1330 "[RFC] Add some tools for translatable entities"
Hello,

One question people can ask themself after they translate their application is how to translate their entities.

Of course, there are many many ways to do it. But I think this bundle can suggest an implementation.

The idea is simple: adding tooling to help to translate entities. By adding this in the doctrine bundle, it also enables API platform to support translated entities by default i

[2021-04-21 16:51] stof commented on #1330
This bundle is only about wiring the ORM and DBAL with Symfony, not about extending the ORM with extra features. So the feature should either stay in the extension packages (the KNP one for instance) or be directly in the ORM

[2021-04-21 16:56] ostrolucky commented on #1330
Agreed. We don't want to have this feature in bundle, sorry. Closing here

[2021-04-21 16:56] #1330 closed, assigned to nobody

[2021-04-21 19:55] Nek- commented on #1330
In this case, does it make sense to add this kind of feature inside the translator of Symfony?

[2021-04-22 09:14] nicolas-grekas commented on #1325
This `$params['charset'] = 'utf8';` and the if/else around should be wrapped in a `if (! isset($params['charset'])) {` check I suppose.

Can you send a PR @dlegatt please, on branch 2.3.x I suppose, with some tests?

[2021-04-23 09:32] pkly opened #1333 "ArrayCollections initialize as null sometimes"
Hi, I have this weird issue where (usually during installation, which is a drop -> create -> fixture load) sometimes an entity will load and it's property (which is a collection) will not get initialized (even though in `__construct()` there's `$this->collection = new ArrayCollection();`)
I'm unsure whether this is a purely Doctrine issue or one related to the bundle, so I'm sorry if this is in th

[2021-04-23 09:41] stof commented on #1333
the ORM does not run the constructor during hydration. So if you have some properties that are not mapped by the ORM, they won't be initialized if the initialization logic is in the constructor. You would need to use a `postLoad` lifecycle callback.
But anyway, reporting that on the bundle looks wrong to me, as it is only about wiring the ORM. And without reproduction steps, we can only try to gue

[2021-04-23 09:46] ostrolucky commented on #1333
Yep, this can't really be a bundle issue. Sorry, closing

[2021-04-23 09:46] #1333 closed, assigned to nobody

[2021-04-26 12:00] st0at opened #1336 "Command doctrine:mapping:import does not add default 0 value"
When command is run on table with property with default value 0 set in database, command does not add this near property: `options={"default"="0"}`. Other default values, like decimal value 0.00, works fine, "default" value in options is added.

[2021-04-26 12:06] ostrolucky commented on #1336
Sorry but this command is deprecated and will not receive bugfixes.

[2021-04-26 12:06] #1336 closed, assigned to nobody

[2021-04-26 12:20] st0at commented on #1336
Is there any alternative to that command?

[2021-04-26 13:52] ostrolucky commented on #1336
Alternative is unfortunately creating the mapping manually

[2021-05-03 05:29] bravik opened #1337 "`default_entity_manager` config param is not inherited from parent config file"
This line in Configuratation:
https://github.com/doctrine/DoctrineBundle/blob/09339f7df6fc620ce805f52ca0c7424543d30515/DependencyInjection/Configuration.php#L376

makes `default_entity_manager` (=<some_none_default_value>) param defined in `config/packages/doctrine.yml`
been overriden by `config/packages/prod/doctrine.yml` without this option.
Instead of the value from `config/packages/doctirne.ym

[2021-05-05 13:05] stof commented on #1329
Well, `override_url` is one of the connection setting. Whether it is directly under `doctrine.dbal` or nested inside `doctrine.dbal.connections.<connection_name>` depends whether you use the shortcut notation or the full config for your DBAL connections.

[2021-05-05 22:55] trickeyone opened #1338 "An option named "em" already exists."
I created a new Symfony project with `doctrine/doctrine-bundle` @ 2.3.1 and I'm getting this error when just running `./bin/console` to list available commands.

[code]

It looks like the issue is that `Doctrine\ORM\Tools\Console\Command\ClearCache\MetadataCommand` already defines the "em" optional as required. This is causing the validation error.

I understand that ORM 2.9 is not release, just w

[2021-05-05 23:13] stof commented on #1338
the fix is already in progress in https://github.com/doctrine/DoctrineBundle/pull/1327

[2021-05-05 23:14] trickeyone commented on #1338
Thank you!

[2021-05-05 23:16] stof commented on #1338
I'm closing this issue as doctrine/orm 2.9 is not released yet, and finishing the bundle PR is already in the list of things to do before the release.

[2021-05-05 23:16] #1338 closed, assigned to nobody

[2021-05-08 10:32] dbu opened #1340 "override_url breaks setup"
i am struggling getting dbal to work in a docker container. i have

[code]

the config/packages/doctrine.yaml file has
[code]

i dump the $dsn at vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php and it is
```mysql:host=localhost;dbname=pdo-mysql://user:pass@otherserver:3306/databasename;charset=utf8mb4;```

i tried setting override_url to false, but that made no difference.

i first

[2021-05-08 18:33] ostrolucky commented on #1340
Description is all over the place. What's the issue? And why is title saying override_url breaks setup when in description you say you experience issue no matter the override_url value?

[2021-05-09 09:21] dbu commented on #1340
sorry for the confusing report. i started writing, tried more stuff and continued writing. the thing that confused me is how my DATABASE_URL got taken as only the database name and the default host etc are used for the connection information.

i suspected that #1290 would be to blame. however, after a nights sleep, i tried with doctrine-bundle 2.2.4 and it is not about this. looking closely at eve

[2021-05-09 10:13] nicolas-grekas commented on #1340
We are likely to deprecate `override_url` in 2.4, see #1335
Doc PR welcome indeed!

[2021-05-09 11:25] #1340 closed, assigned to nobody

[2021-05-09 11:35] dbu commented on #1340
do you have any input on the quote handling of DATABASE_URL? i'd love to clarify that in the dbal documentation. if the generated $dsn would just have my bogus DATABASE_URL including the quotes, i'd say it is just something that doctrine does not handle. but the quotes got stripped at some point, but aparently too late, which i find confusing.

[2021-05-09 11:49] dbu commented on #1340
@nicolas-grekas doc PR for status quo with DoctrineBundle 2.3: https://github.com/symfony/symfony-docs/pull/15321

[2021-05-10 07:17] ruudk commented on #1329
Fixed by https://github.com/doctrine/DoctrineBundle/releases/tag/2.3.2

[2021-05-10 07:17] #1329 closed, assigned to nobody

[2021-05-10 09:39] stof commented on #1340
@dbu IIRC, the Docker handling of env files does not parse them using the Bash rules, so they don't support the same quoting that bash. Symfony DotEnv explicitly supports a format that is compatible with using the file as `source .env`

[2021-05-10 09:52] dbu commented on #1340
yeah, it seems so that Docker does put them literal. but it is confusing to me why the env variable (including quotes) `
DATABASE_URL="pdo-mysql://user:pass@otherserver:3306/databasename?serverVersion=5.7"` leads to a $dsn of ` mysql:host=localhost;dbname=pdo-mysql://user:pass@otherserver:3306/databasename;charset=utf8mb4;` - i would have expected it to be `mysql:host=localhost;dbname="pdo-mysql:/

[2021-05-10 09:59] stof commented on #1340
@dbu this thing might at least partially be PHP's `parse_url`: https://3v4l.org/0LPbh

Also, `serverVersion` is not something that end up in the dsn (and here, it is still parsed in the query string)

[2021-05-10 12:01] dbu commented on #1340
wow, that parse_url is not what i would have expected :-O

okay, if we don't actively do something about it in the bundle i guess its fine to keep not doing. i thought we somehow actively remove the quotes but too late... lets leave as is and hope other people don't confuse docker env variable logic with bash logic like i did...

[2021-05-12 14:31] nicolas-grekas opened #1343 "Allow declaring entity listeners without having to use explicit config"
Thanks to PHP 8 and autoconfiguration, we should be able to replace such configs by attributes:
[code]
(example from [the-fast-track](https://symfony.com/doc/current/the-fast-track/en/13-lifecycle.html#configuring-a-service-in-the-container))

`$container->registerAttributeForAutoconfiguration()` might help.

Help wanted!

[2021-05-12 19:13] mewejo opened #1344 "Wrapper class option, but warnings about DBAL\Connection constructor"
Hello and thanks for the great work on this.

I'm using the `doctrine.dbal.connections.x.wrapper_class` option, setting it to a class which extends `Doctrine\DBAL\Connection` as documented.

I'm having to redefine the constructor so I can access the original passed params and set them to my own `$params` property, allowing me to change them elsewhere in the connection class. Re-declaring the const

[2021-05-12 19:50] ostrolucky commented on #1344
What action do you expect from doctrine-bundle? I don't see any suggestion in your post that we can do. All of those issues are in doctrine/dbal, so not sure why is this issue here.

[2021-05-12 20:00] nicolas-grekas commented on #1343
Proposal:

[code]

[2021-05-12 20:05] ostrolucky commented on #1343
I don't think all of those tags are required. We do this in one of the projects
[code]

[code]

[code]

[2021-05-12 20:05] mewejo commented on #1344
Sorry @ostrolucky - I did check the option was in this repo but looks like it's re-mapped to `wrapperClass` for DBAL.

Teach me for posting an issue quickly! Sorry to waste your time.

[2021-05-12 20:05] #1344 closed, assigned to nobody

[2021-05-12 20:10] nicolas-grekas commented on #1343
Great! So we might only need `#[AsEntityListener]` to replace the explicit tag and the rest already exists!

[2021-05-12 21:08] ostrolucky commented on #1337
Can be also tested via `bin/console debug:container --parameter=doctrine.default_entity_manager --env=prod` and `bin/console debug:container --parameter=doctrine.default_entity_manager --env=dev`, respectively.

If anyone want to work on this, I think solution would be to extract this normalization https://github.com/doctrine/DoctrineBundle/blob/d6b3c37804539a24ba8a7d647a6144cab2f13242/DependencyI

[2021-05-13 00:02] arderyp commented on #1020
I agree, if its an unfixable issue, the specific warning should be suppressed (still an issue now in 2021)

[2021-05-13 07:46] alcaeus commented on #1020
This is not an issue with 2.x, which is the only supported version. There's nothing to fix here.

[2021-05-13 08:23] #1343 closed, assigned to nobody

[2021-05-14 10:08] mezcaspider opened #1346 "IN operator limitation in ORACLE database queries"
Hello,

Let me take this point back to you:

The ORM engine does not take into account the limitation of the ORACLES databases concerning the use of the IN operator.
Queries are generated with an IN operator containing more than 1000 elements. This generates an error message from the database.

ORA-01795: maximum number of expressions in a list is 1000

This type of request should be generated wit

[2021-05-19 14:14] alexander-schranz opened #1348 "type: service caches are broken in 2.4"
I currently did test @sulu against current `dev` dependencies and we have the following configured in the `prod/doctrine.yaml`:

<details>

<summary>doctrine.yaml</summary>

[code]

</details>

https://github.com/sulu/sulu/runs/2620361693

I think maybe there was a bc break introduced in the current current dev version, so I thought I will report this here. Updating the `doctrine.yaml` to somethin

[2021-05-19 14:39] stof commented on #1348
@alcaeus we should re-add the `doctrine.system_cache_provider` service as a deprecated one to avoid breaking existing apps

[2021-05-20 06:24] alcaeus commented on #1348
@alexander-schranz can you please test the current stable release with the same config? While we did make changes to metadata caching, I fail to see how those would be responsible for having a service disappear, let alone a service that you defined yourself.

The original config is from the early days of symfony/cache when the bundle didn't support creating the provider service itself. The second

[2021-05-21 18:23] ostrolucky commented on #1317
Sorry, we can't help without reproducer.

[2021-05-21 18:23] #1317 closed, assigned to nobody

[2021-05-23 16:08] TomasVotruba commented on #1348
Hi, I just came across this error on dev upgrade to 2.4-dev: here is the failed GitHub Action build - https://github.com/rectorphp/getrector.org/pull/329/checks?check_run_id=2650545486

@alexander-schranz Thanks for sharing the solution :+1:
I'm trying to figure out what exactly have you changed...

...(20 commits later), so here is the diff that works :heavy_check_mark:

![image](https://user-ima

[2021-05-23 22:28] ostrolucky commented on #1348
Hmm so 2.4 actually breaks any `type: service` types of caches completely, which is a serious regression. I've added failing test case at https://github.com/doctrine/DoctrineBundle/pull/1350. Thx for reports!

[2021-05-23 23:29] alexander-schranz commented on #1348
@alcaeus  the current released versions didn't make any problems for me yet.

[2021-05-23 23:41] TomasVotruba commented on #1348
@alexander-schranz We're talking about 2.4 (dev to this day), as in the issue title.

[2021-05-24 06:39] alcaeus commented on #1348
@alexander-schranz thanks for following up. I'll take a look and go from there.

[2021-05-24 08:44] TomasVotruba commented on #1348
@alexander-schranz Ah, sorry, I missed you're the author of this issue :D my bad.

[2021-05-24 12:25] alcaeus commented on #1348
@TomasVotruba did you have the same config as others where you define the `doctrine.system_cache_provider` service yourself? Just making sure before I start digging in the wrong direction.

[2021-05-24 12:57] garak opened #1351 "Error when clearing metadata cache"
When running command `console doctrine:cache:clear-metadata` with latest Doctrine (doctrine/orm:2.9.0) you get the following error (In MetadataCommand.php line 68):

Command was working fine with previous version (doctrine/orm:2.8.X)

[2021-05-24 13:14] ostrolucky commented on #1348
I'll answer for him. Yes, he does. That's how I created my failing test case/reproducer.

[2021-05-25 12:56] spackmat opened #1355 "Missing service doctrine.orm.default_attribute_metadata_driver"
Hi, I switched a smaller project to mapping definitions via PHP 8 attributes after upgrading to doctrine/orm to 2.9. I then changed the mapping type in `doctrine.orm.mappings.App.type` from `annotation` to `attribute` to reflect that change. After that, I got that nasty error message:

Obviously, the service `doctrine.orm.default_attribute_metadata_driver` is not defined, so I added that to the `R

[2021-05-25 13:21] ostrolucky commented on #1355
This feature will be in 2.4. It's already there in dev branch actually.

[2021-05-25 13:21] #1355 closed, assigned to nobody

[2021-05-25 14:59] ostrolucky commented on #1300
Just to clarify what I expect to happen here as part of this issue: Instead of using `@trigger_error`, we should use doctrine/deprecations package. One of the the work that you might not realize that this involves is updating the test cases too... I am not 100% decided to go with doctrine/deprecations instead of symfony/deprecation-contracts, so feel free to provide arguments what should we go wit

[2021-05-25 15:14] nicolas-grekas commented on #1300
Are you really sure about this? This is a Symfony bundle, where a deprecation framework already exists. Integrating with the native API of the framework will lead to better DX I think, as eg strack traces and messages will be less noisy.

[2021-05-25 15:32] ostrolucky commented on #1300
At the same time it's library providing integration with doctrine libraries, where a deprecation framework also already exist and is used, eg. in doctrine/dbal, so such reasoning is not going to cut it. If you mind inconsistency, it's already there because other doctrine libraries are not using symfony/deprecation-contracts. And all it takes for integration with native API of the Symfony framework

[2021-05-25 15:44] nicolas-grekas commented on #1300
I mean that eg:
https://github.com/doctrine/deprecations/blob/d12b33583aa1d591d8c45d31812df46d8d19e579/lib/Doctrine/Deprecations/Deprecation.php#L180

Because it provides a bit degraded DX, doctrine/deprecations should be kept for Doctrine standalone packages, not for this bundle.

[2021-05-25 16:00] ostrolucky commented on #1300
It shows where is the deprecation triggered from and last caller, not a full stack trace. I wouldn't call that noisy but useful, especially for people who don't log full log context. Symfony deprecation library also doesn't show any url or identifier associated with deprecation, which is factually worse DX.

[2021-05-25 16:03] nicolas-grekas commented on #1300
I'm not against improving the existing framework, quite the contrary actually!
But DX consistency is paramount.

[2021-05-25 16:06] ostrolucky commented on #1300
Yeah but consistency won't be there no matter what because doctrine packages use doctrine/deprecations.

[2021-05-25 16:33] ostrolucky commented on #1300
But maybe it should be consistent within the project at least. Using doctrine/deprecations would mean bundle would be forced to use combined approach due to symfony API. Eg ->setDeprecated on symfony/config will use trigger_error. That's compatible with our test cases where we rely on symfony/phpunit-bridge features and in order to support these APIs we would have to continue supporting these, but

[2021-05-25 16:56] alcaeus commented on #1300
This bundle integrates Doctrine into the Symfony framework, not the other way around. For that reason, users of this bundle expect to have the Symfony way configured out of the box. This bundle should announce its own deprecations using whatever mechanism it wants, but by default all deprecations should be sent to trigger_deprecation so that users have the same experience they have for the rest of

[2021-05-25 17:32] ostrolucky commented on #1300
So what do you expect should happen with DBAL and other doctrine packages? It doesn't use `trigger_deprecation`, so such deprecations won't go through `trigger_deprecation` function for doctrine-bundle users either. Those are unrealistic expectations at the moment. Or did you do a typo and meant `trigger_error`? I explained that this part should be in doctrine-bridge.

[2021-05-25 20:03] nicolas-grekas commented on #1300
you made some allusions to the idea, but how would that work in practice? the bridge doesn't "run" anything, it's just a lib. Only bundles hook into the runtime flow. Can you explain your idea a bit more? Maybe draft some PR?

[2021-05-26 09:14] ostrolucky commented on #1337
Patch has been merged into 2.4. It should prevent similar issues in future

[2021-05-26 09:19] ostrolucky commented on #1300
See https://github.com/symfony/symfony/pull/41408

[2021-05-26 20:33] ostrolucky commented on #1300
Plan is now following:
- Use trigger_deprecation here for our deprecations (I explained why in https://github.com/doctrine/DoctrineBundle/issues/1300#issuecomment-848030010)
- If set up of default mode is desired, it should be done in one of the symfony packages (doctrine-bridge still doesn't look to be generic enough and my PR most likely won't pass, so I'll let symfony folks decide to which more

[2021-05-26 20:33] #1300 closed, assigned to nobody

[2021-05-27 02:22] hoangdhtn commented on #1197
how to install old version Doctrine ?

[2021-05-27 16:27] simivar commented on #1348
Just so there is connection and nobody is lost: work is in progress in #1352

[2021-05-27 16:57] TomasVotruba commented on #1348
@ostrolucky :+1:

@alcaeus Yes, I've linked the exact diff in my comment. You can see what was before/after: https://github.com/rectorphp/getrector.org/pull/329/files#diff-b6ffdd83e5d44e8e8b8f71db29813538d227f74f0b2f4c0f9f8a5c8242bf5707

[2021-05-28 21:24] ostrolucky commented on #1348
Would be great if somebody could try out #1352

[2021-06-01 15:57] #1348 closed, assigned to alcaeus

[2021-06-01 16:19] Nyholm opened #1359 "[Postgres] Problem generating IDs with version 2.3.0"
I have a strange bug that only shows in production for some reason. It seams like the auto generate ID feature is broken for some reason.

I've done some testing back and forth in this repo: https://github.com/symfony-tools/carsonbot/issues/179

The error is basically:

The entity is found here: https://github.com/symfony-tools/carsonbot/blob/master/src/Entity/Task.php

The `id` column is not even

[2021-06-01 17:28] ostrolucky commented on #1359
Probably caused by https://github.com/doctrine/DoctrineBundle/pull/1260, that's the only PR I know of which changes behaviour in prod mode. You can find more of such edge cases related to that improvement. We would welcome some community effort here to fix it.

In 2.4 we at least removed this optimization when `metadata_cache_driver` key is defined. But you will get deprecation and eventually run

[2021-06-01 18:51] ph-il opened #1362 "Either explicitly define DBAL connections error with version 2.4.1"
Got "Either explicitly define DBAL connections in all doctrine-bundle configuration files, or in none of them." But looking at the changelog for 2.4.x I don't see anything that need to be change.

[code]

[2021-06-01 18:54] ostrolucky commented on #1362
Look in all files. Have you checked prod/doctrine.yaml?

[2021-06-01 19:08] ph-il commented on #1362
I was in dev, no other file. And Prod :

[code]

[2021-06-01 19:11] ostrolucky commented on #1362
In prod you need to use doctrine.dbal.connections too. Search for other such files, maybe you have more such files in dev too.

[2021-06-01 19:34] ph-il commented on #1362
It not suppose to be cascading?

[2021-06-01 19:37] ostrolucky commented on #1362
It was and this was always buggy with multiple connections, that's why we are fixing this by disallowing it. See https://github.com/doctrine/DoctrineBundle/pull/1356 for more info

[2021-06-01 19:53] ph-il commented on #1362
I copy the doctrine.yaml everywhere, plus add the prod difference to prod. But still have the error.

[2021-06-01 20:14] ph-il commented on #1362
I think broken thousands of application to fixe a few that don't understand the standard way of using symfony configuration is a bad idea. If there's a limitation (more a bug) in symfony config, there's we're it should be fixe.
Now, for the moment I have to tell all our projects (more than an hundred) to be sure not to update.

[2021-06-01 20:20] Webonaute commented on #1362
I have the same issue and was related to some dependency injection like this (which respect the config structure and should be valid configuration.):

[code]

[2021-06-01 20:35] Webonaute commented on #1362
I agree. this is a big BC who can be avoided. A better fix (to my point of view) would have been to drop simple configuration support and add deprecation message for who use it to force multiple configuration usage to avoid config confusion. This fix is braking more stuffs than it fix.

[2021-06-01 21:04] greg0ire commented on #1362
@Webonaute I don't understand why the prepend extension config you are using triggers the exception in the title, IMO the structure is valid as you mentioned. It should work, and if it does not, that's what should be fixed, right? Can you please debug further?

[2021-06-01 21:24] PhilETaylor commented on #1362
b\c Breaks anything using https://github.com/snc/SncRedisBundle with error:

[code]

[2021-06-01 21:33] Ne-Lexa opened #1364 "second level cache is broken"
**DoctrineBundle affected**: 2.4.1

**Description**
After the `сomposer update` and updates `doctrine/doctrine-bundles` to 2.4, there is a fatal error.
Before updating the error package was not.

**How to reproduce**
[code]

[code]

**Additional context**
[code]

[2021-06-01 21:57] #1325 closed, assigned to nobody

[2021-06-02 06:24] greg0ire commented on #1362
A reproducer project for any of these issues would be appreciated.

[2021-06-02 07:56] alcaeus commented on #1364
I've managed to reproduce this and will have a fix shortly.

[2021-06-02 08:05] adrienfr commented on #1362
I'm using SncRedisBundle for `result_cache_driver` (through `doctrine.result_cache_pool`) and don't have any issue with DoctrineBundle 2.4.1. In Doctrine config, I don't define `connection(s)` nor `entity_manager(s)`, then don't have a mix configuration issue (https://github.com/doctrine/DoctrineBundle/blob/2.4.x/UPGRADE-2.4.md#configuration)

[2021-06-02 08:07] PhilETaylor commented on #1362
My snc_redis config is below. I'll try and reproduce later today for you

[code]

[2021-06-02 08:11] adrienfr commented on #1362
It might be related to doctrine configuration made through SncRedisBundle (then defining `entity_manager: default`), see https://github.com/snc/SncRedisBundle/issues/555#issuecomment-578283987

[2021-06-02 08:13] ostrolucky commented on #1362
Please don't mix issues in here. snc_redis issue should go elsewhere, preferably to their bug tracker.
This issue is only about `Either explicitly define DBAL connections in all doctrine-bundle configuration files, or in none of them` or `Either explicitly define entity managers in all doctrine-bundle configuration files, or in none of them` errors. And so far it wasn't confirmed because nobody pr

[2021-06-02 08:15] PhilETaylor commented on #1362
No worries - I'll take my broken app and work on it today, the only thing that changed was the upgrade of this bundle, not others... if I have anything to report back later today I'll let you know.

[2021-06-02 08:17] adrienfr commented on #1362
@ostrolucky it's somehow related because @PhilETaylor is defining `entity_manager: default` through snc_redis configuration, which previously worked well but doesn't anymore due to the "Either explicitly define DBAL connections/entity_manager" check. But I agree with you, this is more a snc_redis configuration issue from now on.

[2021-06-02 08:35] PhilETaylor commented on #1362
note: GitHub is experiencing issues :(

If I remove all [doctrine configuration from my snc_redis configuration](https://github.com/snc/SncRedisBundle/blob/master/Resources/doc/index.md#doctrine-caching), then I get a clean compile and my app works again. Now to calculate the performance hit, if any.

[2021-06-02 09:16] ostrolucky commented on #1362
Again, here let's talk only about errors I have quoted before, please. You may put feedback about snc_redis somewhere else, but it sounds like snc_redis issue. But again, it's most likely unrelated to changes that triggered the quoted errors.

[2021-06-02 09:20] PhilETaylor commented on #1362
ok its clear you are not interested in how your changes have broken production sites and the changes interaction with other projects. I have deleted my comments and will unsubscribe. Have fun.

[2021-06-02 09:22] nicolas-grekas commented on #1362
Please be sure we're all interested in feedbacks!

[2021-06-02 09:38] alcaeus commented on #1364
@Ne-Lexa can you please check if #1365 fixes this issue for you? Thanks!

[2021-06-02 09:44] NoodlesNZ commented on #1362
I've setup a simple project to replicate the issue: https://github.com/NoodlesNZ/doctrine_config

clone the repo and run `composer install` then `./bin/console cache:clear` and it should show the error

[2021-06-02 09:56] stof commented on #1362
I think the issue is that https://github.com/doctrine/DoctrineBundle/pull/1356 introduced an error rather than a deprecation

[2021-06-02 10:00] NoodlesNZ commented on #1362
It certainly had the desired effect of getting developer's attention. Given the project in my previous comment, how would we fix the `config/packages/prod/doctrine.yaml` to fix the underlying issue?

[2021-06-02 10:29] Ne-Lexa commented on #1364
Yes, I installed the version `2.4.x-dev#bc6fc27dda3c8edad6189298e9a7eb7c99c87d55` and the error disappeared.
When can I expect a release version 2.4.2?
Thanks.

[2021-06-02 10:34] alcaeus commented on #1364
Thanks for confirming it works!

[2021-06-02 11:18] webhdx commented on #1362
Having similar issue. This happens when you inject custom entity managers via `ContainerBuilder::prependExtensionConfig`. I can't really see why it would be prohibited but with your fix this becomes impossible. We intentionally inject EMs via extension to avoid modifying default config files coming from your flex recipe.

For me you should deprecate using simplified syntax or log a warning that it

[2021-06-02 11:35] facundososalopez opened #1366 "Unrecognized option "connections" under "doctrine.dbal.connections.default" after composer update"
- Upgrading doctrine/doctrine-bundle (2.3.2 => 2.4.1)
- Upgrading doctrine/orm (2.9.1 => 2.9.2)

Configuration:

[code]

[2021-06-02 12:02] ostrolucky commented on #1362
Recipe comes with simplified/shortened configuration syntax for both files, doctrine.yaml and prod/doctrine.yaml. Changing it from shortened version in doctrine.yaml, but forgetting to do the same in prod/doctrine.yaml, or using different format somewhere else is exactly why we are throwing the error. It would be fine if it was without side effects, but that's not the case unfortunately and I am a

[2021-06-02 12:13] webhdx commented on #1362
I'm afraid it's not possible because the doc states

So by providing shortened syntax in your recipe you pretty much killed all cases where 3rd party code would inject its own entity managers:

[code]

This raises an error here: https://github.com/doctrine/DoctrineBundle/blob/2.4.x/DependencyInjection/Configuration.php#L416

Injecting entity managers is only possible if you remove or modify defaul

[2021-06-02 12:14] stof commented on #1362
Well, that's the issue. Bundles using `prependExtensionConfig` have no way to know what syntax is used in projects.

then release it as a major version, not as a minor one

You cannot use them at the same time in a single file. but different files could make different choices before.

Projects using mixed approach could still have a working configuration, and you broke BC for them.

I think the al

[2021-06-02 12:17] stof commented on #1362
Btw, I don't even think https://github.com/doctrine/DoctrineBundle/pull/1356 actually fixes the issue when you use the shortened configuration with customized `default_entity_manager` in some places only. So it breaks working configs without solving the original issue.

[2021-06-02 12:33] ph-il commented on #1362
a BC issus like this should have had at least DEPRECATED status in this version, then change in a major version.

And it seem that now we do have to put all doctrine configuration in one file, and take everything that come with others bundles (especially extensions one) into one file. That is breaking symfony way of doing stuff.

[2021-06-02 12:35] ph-il commented on #1362
No it's not. Now we CAN'T have any configuration coming from extensions bundles in separate config files.

[2021-06-02 13:01] nicolas-grekas commented on #1362
I think we should revert #1356 as a bugfix and reconsider the issue in light of the feedback we have here.
While you're all here, we would greatly appreciate any ideas to fix  #1337 and doctrine/orm#8687 after the revert!

[2021-06-02 13:10] Webonaute commented on #1362
Trace debug:

![Screen Shot 2021-06-02 at 9 02 18 AM](https://user-images.githubusercontent.com/1700815/120484697-52a9f680-c381-11eb-9ab5-68cda14f7678.png)

![Screen Shot 2021-06-02 at 9 02 47 AM](https://user-images.githubusercontent.com/1700815/120484713-563d7d80-c381-11eb-9169-7e366f01e18b.png)

[2021-06-02 13:18] Webonaute commented on #1362
@nicolas-grekas if you want my opinion, you should deprecate single configuration in this version and remove it in a major version. having a simple structure would help preventing merging wrong configuration structure.

[2021-06-02 14:41] maisoui commented on #1366
same issue here.

[2021-06-02 16:40] stiffroy commented on #1366
Can you check removing the `override_url` from the `dbal` section. It solved many of my problems with connections and their override.

[2021-06-02 17:22] ostrolucky commented on #1362
1. Users who use the bundle can find out what format prependExtensionConfig of bundle they require uses and use the same format. They can do this now.
2. Bundle can use `$container->getExtensionConfig('doctrine')` and find out what format is used by user.

Blindly injecting doctrine configuration without considering what connections and entity managers did users configure is also the type of probl

[2021-06-02 18:05] oliver-schulz commented on #1359
Not sure if this helps but we had exactly the same problem here in prod.
Did you check what `doctrine:migration:diff` created? in our case there was a change detected and wanted to create some sequences and stuff like this.

We are using postrges and this bundle in version `2.3.2`.

We also discovered a strange thing. When building our container for deployment, we had to call `cache:clear` but wit

[2021-06-02 18:28] Nyholm commented on #1359
Thank you @oliver-schulz. I saw your slack conversation.

I've managed to reproduce this. I basically warm the cache with a `sqlite` DSN and then use a `postgres` DSN in production.
Of course, this is not optimal. But it was a something that was working on 2.2.4 and now silently fails.

Im not sure how/if this should be fixed. Im just trying to add context.

[2021-06-02 18:40] oliver-schulz commented on #1359
We have now changed our deployment and added a additional step, right before the container is exposed and after the container is running. We are calling the cache:warmup command to get a valid cache. But yes, this "bug" took me a day :)

[2021-06-02 18:55] stof commented on #1362
Well, the fact that people don't actually change the name of the default entity manager when using the short config is wrong (based on the support I provided on IRC and then Slack over the years).
If we make the shortcut syntax always configure an entity manager named `default` (well, _deprecating_ the case of passing a custom name alongside the shortened syntax for now, for BC), we will make the

[2021-06-02 21:03] ostrolucky commented on #1362
But that was the issue in #1337. Doctrine-bundle is overriding user specified default_entity_manager with `default` when short syntax is used. We would go back to original problem. I know you are trying to argue problem is not actually fixed, but it's not a realistic issue to happen when you use short syntax in ALL files. Nobody needs to rename default entity manager when you have one entity manag

[2021-06-02 21:44] ostrolucky commented on #1362
See https://github.com/doctrine/DoctrineBundle/pull/1368

[2021-06-02 21:45] ostrolucky commented on #1366
Can you try if https://github.com/doctrine/DoctrineBundle/pull/1368 solves the issue?

[2021-06-03 06:26] vuryss commented on #1366
Oauth2 bundle is broken too after last release, see here: https://github.com/trikoder/oauth2-bundle/issues/279

[2021-06-03 07:02] vuryss commented on #1366
I can confirm that the https://github.com/doctrine/DoctrineBundle/pull/1368 fixes the issues in https://github.com/trikoder/oauth2-bundle/issues/279.

[2021-06-03 09:08] bendavies commented on #1359
We encountered a similar issue after upgrading DoctrineBundle from 2.2.4 to 2.3.1.

Unfortunately I can't confirm the issue was definitely that upgrade, as other dependencies were updated at the same time (which I then had to back out wholesale as we only saw the error in prod).

Our error was an incorrect ID being used in a insert statement, rather than no ID like in the OP.

1. Parent Record is

[2021-06-03 10:00] netbull commented on #1362
@ostrolucky sorry, but it's looks like this limitation for mixed simple config is quite strange decision.. If we have configuration for tests, prod and dev we should have 3 configuration files with few lines difference... in most cases the configurations are complex, also there are other third party bundles which overrides parts of the configuration /add something/.. to disallow such override does

[2021-06-03 10:06] gtgt commented on #1364
I did the following workaround (we have policy to not use development versions): I've created a factory service (named: `doctrine.cache.second_level`) using the `Doctrine\Common\Cache\Psr6\DoctrineProvider::wrap` and the symfony cache pool `cache.doctrine.second_level` as the subject (which is originally created for second level cache).
[code]
[code]
All can be reverted back with the release of 2.

[2021-06-03 10:09] ostrolucky commented on #1362
@netbull That's again FUD like the 2 other comments I quoted...

Overrides stil work.  When defining `entity_managers:` in one file, you just need to have it in all other files. Content of the key itself will be merged from other files. Start by ensuring empty `entity_managers` key is in each file, afterwards you will see what I mean. Bundle will force you to  move the config related to entity man

[2021-06-03 10:14] manuel-garcia-dkt commented on #1362
In my case, this happens having a wrong config key under prod/doctrine.yaml, without wrong key, no duplication is neccesary

[2021-06-03 10:30] netbull commented on #1362
@ostrolucky I would not say that's FUD, but is reaction to the unclear error message out of nowhere after updating and some time debugging what the *** broke on the prod CI/CD pipeline..

However setting a dummy `entity_managers` works just fine. Just to mention that it should not resolve to **NULL**, because the check uses **ISSET** which returns false. The proper way /I guess/ is to set it as em

[2021-06-03 10:53] webhdx commented on #1362
@ostrolucky Can we then add an empty `entity_managers` key to the default config file (coming with the recipe)? If not then we can't really extend it from 3rd party bundles without requiring adding that by the user **before** installing bundle.

[2021-06-03 11:03] ostrolucky commented on #1362
@webhdx have you tried

? Your bundle probably never worked for users with multiple connections/entity managers correctly, did it? This issue at least alerted you to it. And yes I wish we used long format everywhere, so it's possible I'll deprecate short one in next minor instead. But recipe itself is not under my control. Although anyone can try to create a pull request for recipe proposing this.

[2021-06-03 11:17] dkarlovi commented on #1364
Thanks @alcaeus for fixing it, but also thank you @Ne-Lexa for reporting it, I was just about to and you saved me some work there!  :heart:

[2021-06-03 12:14] alcaeus commented on #1364
We'll have 2.4.2 out soon. It's a holiday, so you'll have to excuse me spending the day in the sun. Thanks for all the positivity here, we appreciate it!

[2021-06-03 19:39] greg0ire commented on #1362
@NoodlesNZ I have cloned your project, and it shows a `config/packages/prod/doctrine.yaml` in simple config, and a `doctrine/packages/doctrine.yaml` in complex config, so the error message is legitimate.

I would fix the first file like so:

[code]

If I check with `bin/console debug:config`, the result looks good 👍

@Webonaute the screenshot you posted show that the `SonataMediaBundle` extension

[2021-06-04 05:53] maisoui commented on #1366
Issue still here and I don't have "override_url" or "trikoder/oauth2-bundle" package.

EDIT:
I found that the package thephpleague/oauth2-server-bundle has the same issue than Trikoder.
Removing "'connections' => null,", in "LeagueOAuth2ServerExtension.php", seems to fix the problem.
Regards

[2021-06-04 10:19] HypeMC commented on #1366
@maisoui `thephpleague/oauth2-server-bundle` is a fork of `trikoder/oauth2-bundle`, so it's probably the same issue.

[2021-06-04 14:08] cybernet commented on #1364
when can you release the fix ?

[2021-06-04 15:30] drupol opened #1370 "Idea - Autowire service repositories using a typed interfaced and their FQDN."
Hello,

Today I've been asked if it would be possible to inject repositories using typed interfaces and based on their FQDN.

A bit like the Monolog Bundle and their logger / channels. (https://symfony.com/doc/current/logging/channels_handlers.html#monolog-autowire-channels)

I made a bundle out of it, you can find it here: https://github.com/loophp/service-object-repository-bundle

Do you think i

[2021-06-05 13:41] #1366 closed, assigned to nobody

[2021-06-05 13:43] ostrolucky commented on #1362
This will be reverted in 2.4.2 that will be released shortly. I've reopened #1337 and we are waiting for ideas for fixing this there. IMO best would be to deprecate whole short syntax.

[2021-06-05 13:43] #1362 closed, assigned to nobody

[2021-06-05 15:38] ThomasTr commented on #1364
Hmmm, with this config
[code]

[code]
Update from 2.3.2 to 2.4.2 fails for me with the exact same error:
[code]

[2021-06-05 16:00] alcaeus commented on #1364
Thanks for providing the config. We'll investigate this.

[2021-06-14 10:09] kirya-dev commented on #618
Problem SOLVED.
[code]

[code]

[2021-06-15 09:57] SacreDPamiR opened #1375 "default_second_level_cache.region_cache_driver does not exist. after 2.9"
After updating, I am having an error due to a setting configuration that I do not understand. Does anyone else have this problem? were you able to find any solution?

`The service alias "doctrine.orm.default_second_level_cache.region_cache_driver" does not exist.`

[2021-06-16 06:22] alcaeus commented on #1359
@bendavies not sure if it's related, but do you by any chance warm up the cache in an environment with a different database than what's running in production?

[2021-06-16 07:16] oliver-schulz commented on #1359
@bendavies Check also your ORM Annotations, since 2.3.X we discovered the Implementation is more strict, we also found some bugs in our entities, but this was caused by a wrong ORM annotation which we did not discover before the update. You can also use profiler->doctrine to get a info if you have problematic configurations.

[2021-06-16 07:43] Khartir commented on #1364
We have the same issue as @ThomasTr with a similar config. Should we open a new issue or will this one be reopened?

[2021-06-16 09:33] bendavies commented on #1359
@alcaeus yes, we were priming the cache with a url of `serverVersion=12`, which omitted the driver, so the cache was being warmed with mysql (the default) metadata instead of postgres.

[2021-06-17 13:28] Eydamos commented on #1310
I have the same issue. Unfortunately the project is private so I can't share it. I also, up to this point, failed to reproduce the behaviour in a new project. But after hours of debugging I can already give some insight why this is happening.

In my project I have several connections/entity manager and therefore multiple cache warmer are registered all with priority 1000.

For simplicity let's say

[2021-06-17 23:11] trsteel88 opened #1372 "Unix socket is not being used"
I have recently noticed that the unix socket is not being used when specified through a DSN.

e.g:

[code]

I have noticed this because if you change 127.0.0.1 to something else:

[code]

It results in an error.

I have also tried the following:

- mysql://username:password/db?unix_socket=/tmp/mysql.sock
- mysql://username:password@/db?unix_socket=/tmp/mysql.sock

Have I configured the DSN wrong o

[2021-06-18 09:41] dmaicher commented on #1310
@TimWerdin this sounds indeed like it could be the issue...

But then creating a reproducer should be possible when simply following your comments?

[2021-06-18 12:55] Eydamos commented on #1310
I guess it will not take too much time to be able to produce a demo but I'm currently busy with testing and deploying a big project. I will continue my work next Thuesday

[2021-06-21 15:04] bettinz opened #1374 "Same query doesn't work on sqlite but works on mysql"
Hello, I've 2 entities, account and lesson.
I also have an entity called AccountLesson.
I want to retrieve if an account played a lesson a week ago; here the code

[code]

And here the DQL:
[code]

and the sql:
[code]
The issue seem to go away if I remove the "where [..] BETWEEN"

This code will works with mysql but doesn't work in our test environment with sqlite.
Can you help me to understand wh

[2021-06-21 15:19] stof commented on #1374
Closing this in favor of the ORM ticket, because DoctrineBundle is not responsible for executing DQL so the ORM is a better place to report that

[2021-06-21 15:19] #1374 closed, assigned to nobody

[2021-06-21 15:23] kor3k commented on #1375
are you using `snc_redis` with doctrine caching configured? this error is caused by something creating a service via compiler pass and this service depends on `doctrine.orm.default_second_level_cache.region_cache_driver`, which is gone.

i had the same issue and in my case it was caused by snc_redis. if this is your case too, you have to delete the whole `snc_redis.doctrine` config.

if you want t

[2021-06-22 00:11] beberlei commented on #1375
This is most definately a DoctrineBundle issue and potentially what @kor3k suggests. If not, please generate the error with `-v` and post the whole stack trace.

[2021-06-22 08:04] ghost opened #1376 ""doctrine.orm.default_metadata_cache" does not exist"
I've searched for a long time for the source of this problem as the error message appears in DependencyInjection\ContainerBuilder anywhere in the code.

Well I found out that the DoctrineExtension of this Bundle is doing something with that.

That problem occurred after upgrading Symfony from 4.1 to 4.4
I hope we can fix this somehow.

[2021-06-22 08:37] alcaeus commented on #1376
Please post a minimal example of a config that reproduces this. While the service name internally may have changed, the bundle should not be using old names when injecting services. If you are using the service in your own config, please don't as this service is very much internal to Doctrine and you shouldn't be working with it at all.

[2021-06-22 08:38] alcaeus commented on #1375
Please post a minimal example of a config that reproduces this. While the service name internally may have changed, the bundle should not be using old names when injecting services. If you are using the service in your own config, please don't as this service is very much internal to Doctrine and you shouldn't be working with it at all.

[2021-06-22 08:46] ghost commented on #1376
I haven't changed any config, I don't even have a metadata_cache service defined in doctrine.
And also if I define a valid one it breaks with that message.

The Symfony upgrade forced me to use v2.4.2 instead of v1.9.x

Example config:
[code]

[2021-06-22 08:47] alcaeus commented on #1376
@ostrolucky is this the infamous "simplified config" here? I'd expect there to be an entity manager name involved 🤔

[2021-06-22 09:16] ostrolucky commented on #1376
No. @sdonner-mobiletrend please post a xml dump of your container from var/cache dir, at least.

[2021-06-22 09:17] SacreDPamiR commented on #1375
My doctrine config
[code]
And redis config

[code]

(alcaeus: edited for formatting)

[2021-06-22 12:08] ghost commented on #1376
sorry @ostrolucky but the error comes even before the app is able to write cache at all.
I took the console command `cache:warmup` as test when the error appears, so my cache dir is pretty much empty.
<img width="533" alt="Bildschirmfoto 2021-06-22 um 14 08 07" src="https://user-images.githubusercontent.com/85745725/122921862-4fdc6900-d363-11eb-89b1-604a8bf94712.png">

[2021-06-22 16:24] ostrolucky commented on #1376
Please downgrade so error is gone and post xml dump is that state, then. We just want to see what's requiring it

[2021-06-22 23:49] m-vo opened #1377 "DoctrineLoader relies on symfony/validator as a peer dependency"
**Description**
`DoctrineExtension#loadValidatorLoader` registers the `DoctrineLoader` as a service. This class uses the `Symfony\Component\Validator\Mapping\Loader\AutoMappingTrait` (from `symfony/validator`) which might not be available.

As soon as this service gets autloaded at container build time* this will produce a fatal error under PHP8.1:

[code]

*) one scenario is for instance reading

[2021-06-23 08:06] ghost commented on #1376
well that's not easily possible I fear. I managed to get all dependencies compatible with #php8 and #symfony4.4 so downgrading is not an option but maybe why doctrine-bundle is getting us hopefully further?
<img width="684" alt="Bildschirmfoto 2021-06-23 um 09 56 28" src="https://user-images.githubusercontent.com/85745725/123060290-e2841300-d40a-11eb-923f-cc9018115738.png">

[2021-06-23 08:12] ostrolucky commented on #1376
Why is it not possible, are you not using GIT? Checkout master branch or previous commit when you didn't upgrade it yet...

[2021-06-23 09:21] ghost commented on #1376
sure ok, I checked out master and reinstalled php 7.2
what xml do you need now?

[2021-06-23 09:38] ostrolucky commented on #1376
there is only one xml file in var/cache/, isn't there?

[2021-06-23 09:48] ghost commented on #1376
Oh sure the appDevDebugPrjectContainer.xml that exposes my entire project you mean? are you serious?!
Sorry but I would surely lose my job when I post that here. I can extract the bundles section or so if you want

[2021-06-23 09:55] ostrolucky commented on #1376
Look for doctrine.orm.default_metadata_cache inside that file and report the issue to whoever is maintaining that service. We don't use this in doctrine-bundle.

[2021-06-23 09:59] alcaeus commented on #1376
Sorry but I would surely lose my job when I post that here. I can extract the bundles section or so if you want

No, the xml file that is your compiled container. It doesn't "expose" anything. There's no logic and no data in that thing. Go ahead and make sure that no secrets are in the file, but unless you're willing to share some information to help us debug the issue, you shouldn't ask for help

[2021-06-23 10:29] ghost commented on #1376
alright here you go then, hope it helps :)
[appDevDebugProjectContainer.xml.zip](https://github.com/doctrine/DoctrineBundle/files/6701059/appDevDebugProjectContainer.xml.zip)

[2021-06-28 08:01] ghost commented on #1376
Hey guys, hope you had a pleasant week.
Is there any update to this by any chance? I might help you a lil but I currently have no Idea where to start..

[2021-06-28 10:40] ostrolucky commented on #1376
Only service using `doctrine.orm.default_metadata_cache` there is `doctrine.orm.default_configuration`. That's not very useful for us unfortunately, because we know that's not where problem is, otherwise more people would report the issue.

I'm afraid you will have to find the issue on your own, but I don't think it's an issue of doctrine-bundle. Hence closing. I will reconsider reopening this if

[2021-06-28 10:40] #1376 closed, assigned to nobody

[2021-06-28 12:38] Eydamos commented on #1310
I was a little bit busy last week but now I could prepare a demo application which shows the cause of the bug. You can find it here: https://github.com/TimWerdin/doctrine-bug-demo

[2021-06-28 12:47] dmaicher commented on #1310
The reproducer looks good to me. Thanks @TimWerdin

[2021-06-30 13:27] alcaeus commented on #1377
Yep, that is correct. IMO, this logic should only be invoked if the `DoctrineLoader` class exists, similar to how other logic is invoked conditionally. A PR with a fix is highly appreciated :)

[2021-06-30 13:28] alcaeus commented on #1359
Closing since these issues all seem to have caused by running the cache warmup with a different configuration than the application is being run in.

[2021-06-30 13:28] #1359 closed, assigned to nobody

[2021-06-30 13:31] alcaeus commented on #1364
@ThomasTr, @Khartir: if you're able to reproduce this issue, could you please create a PR to add the failing config as a test? The tests added in #1365 can serve as guidance, and after adding the appropriate config to the configuration files (both [XML](https://github.com/doctrine/DoctrineBundle/blob/4202ce675d29e70a8b9ee763bec021b6f44caccb/Tests/DependencyInjection/Fixtures/config/xml/orm_caches.

[2021-06-30 13:49] ostrolucky commented on #1364
I've already fiddled with this, testcase looks like this
[code]

It's not an easy fix though, because our compiler pass relies on Aliases and these don't exist for this case. So I postponed fixing this myself until who knows when.

[2021-06-30 15:02] m-vo commented on #1377
Alright, I'm closing this in favor of #1379 then.

[2021-06-30 15:02] #1377 closed, assigned to nobody

[2021-07-21 05:07] ColorRabbit opened #1380 "multiple directories, create repository cannot work very well [doctrine/doctrine-bundle 2.4.2]"
I created a repository, as shown below, but it didn't work
[code]

I've tried this many times, and I've created this repository , it finally worked.
I don't know if it's a problem with my configuration or the project itself, I'm tired. cry cry cry , loud
[code]

[2021-07-21 06:21] ostrolucky commented on #1380
What do you mean by not working? Also, we would need some reproducer. Can you reproduce on https://github.com/symfony/demo?

[2021-07-21 12:37] stof commented on #1380
Do you have multiple EntityManager configured in your registry that are configured to support the same `AdminUser` entity ? If yes, the ServiceEntityRepository constructor might indeed get the wrong one. But that's not a use case supported by DoctrineBundle built-in features

[2021-07-26 21:23] julienmiclo opened #1381 "Can't instantiate custom generator"
Hello,

I don't know if is the good place but i have an bug how block me from last 4 days. So you are my last hope until i recreate from scratch (and i don't want to do that).

I do this :
`docker compose exec php bin/console doctrine:fixtures:load`

and make this :
[code]
and this :
`2021-07-26T21:16:11+00:00 [info] User Deprecated: Since doctrine/doctrine-bundle 2.4: The "connection_override_opt

[2021-07-27 02:05] bravik opened #1382 "Not all ClassMetadata is loaded in prod"
Have an `Id` as an embeded object:
[code]

Using in a repository like that:
[code]

Works in dev environment, but in prod environment it somehow converts any Id to `1` int value without any error or exception.

Digging further somewhere here in `EntityManager` we have identifier resolution for `find()` method:
![image](https://user-images.githubusercontent.com/1075618/127083109-4aa81dbe-fe5b-4260-

[2021-07-27 13:31] dmaicher commented on #1381
Maybe you should use `@ORM\CustomIdGenerator(class="My\Custom\UlidGeneratorService")` ? So passing the FQCN.

[2021-07-27 15:19] julienmiclo commented on #1381
OK i'm dumb. Can you explain me why it's works ?

[2021-07-27 15:19] #1381 closed, assigned to nobody

[2021-07-27 15:28] dmaicher commented on #1381
As you can see from the exception message the class configured was `UlidGeneratorService` which is not a FQCN and so the `class_exists` check here failed:

https://github.com/doctrine/orm/blob/2.9.x/lib/Doctrine/ORM/Mapping/ClassMetadataFactory.php#L648

So the annotation parser could not handle your `@ORM\CustomIdGenerator(class=UlidGeneratorService::class)` annotation

[2021-07-27 16:08] jvasseur commented on #1381
Actually the annotation reader is capable of understanding the `UlidGeneratorService::class` syntax, you where probably missing an `use` statement making it resolved to the wrong namespace.

[2021-07-27 20:49] julienmiclo commented on #1381
@dmaicher thank you

@jvasseur no my `use` statement is correct for this class.

[2021-07-29 08:00] allan-simon commented on #584
I just came across this issue while googling , so just for reference

in my use case in "testenv" environment, the symfony user has not the right to drop nor create database  (least privilege principle) , so i needed a way to drop all the table used by symfony  , so fortunately there's --full-database :)

[2021-08-10 14:59] zorn-v opened #1384 "Setting the "doctrine.dbal.password" option while the "url" one is defined is deprecated"
I have setup, where db created with random generated password (docker etc.) and putted in `.env.local`
Base url is defined in `.env` (type/host/user/dbname/dbversion etc is not changed), only part that needed to change is password.
So I have config like this
[code]

Yes I can define type/host/user/dbname/dbversion in separate env vars but it seems cumbersome

PS. Init db script looks like this
[co

[2021-08-10 17:49] ostrolucky commented on #1384
That doesn't work though. This is why override_url option was added, but subsequently deprecated. It's also why combining both is deprecated. As you can see different people have different opinion what should override what, hence we are ending never ending discussion by not allowing it.

[2021-08-10 20:54] zorn-v commented on #1384
But it work as I expect.

Yep, and this is just another opinion.

PS. `url` is lower priority and and other options override it. Whats wrong with it ?

[2021-08-10 21:35] ostrolucky commented on #1384
It works only in cases when DATABASE_URL doesn't contain password. If it does, it will override whatever was set in password field. These kind of semantics are tricky to get right, that's why it's easier and more transparent to stick with one or the other. What's difficult about exporting whole DATABASE_URL in your init script instead of just DB_PASSWORD?

[2021-08-10 21:44] zorn-v commented on #1384
Did you write bash scripts sometimes ?
Did you think it is good idea to hardcode something in scripts ?

In other case we need to read url from .env, parse it, paste pasword in right place and then echo to .env.local

[2021-08-10 22:25] ostrolucky commented on #1384
This is one line change of turning
[code]
into something like
[code]

I fail to see what's bad about it, or why is it better to hardcode things in .env.local but bad in bash script. You are already hardcoding things like volume, database name or variable names in bash script - all of that assumes it alignes with whatever is in .env.local. You also don't care about other variables like mysql user t

[2021-08-12 11:05] zorn-v commented on #1384
Well actually that password also needed in other scripts in pure (e.g. for run something like `mysql -p$DB_PASSWORD` or to use it in `docker-compose.yaml`).
Anyway I get your point.

Here
[code]

[2021-08-12 11:24] ostrolucky commented on #1384
I know where you do it, I don't know why you do it. There is no point to have random password on dev machine and this doesn't look like something that should be used on production.

[2021-08-13 05:23] zorn-v commented on #1384
Yep, it is for production. And for dev also to use same scripts (auto create db and other automatics) with little difference (e.g. `./bin/dev-start` script).
So you just need to `git clone` and `./bin/update` for up new "configured" instance.
There also some wrappers like `./bin/cli` to run `./bin/console` in configured docker container, `./bin/db-backup` etc.
Only docker and docker-compose needed

[2021-08-13 06:32] #1384 closed, assigned to nobody

[2021-08-14 13:36] Bashar1b commented on #672
Hi there,

I have the same issue

![image](https://user-images.githubusercontent.com/53952174/129447997-9a43e265-84e6-43a1-bf87-d4b37c10cf88.png)